{#
/**
 * @file ino-pt-style-widget.html.twig
 * Default theme implementation to present style select widget.
 *
 *
 * Available variables:
 * - styles: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_ino_pt_style_widget()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {% if styles %}
    <div class="style-wrapper">
    {% for group_key, group_style in styles %}
      <div class="style-group" data-group-value="{{ group_style['title'] }}">
        {% if group_style['title'] %}
          <div class="style-group-label">{{ group_style['title'] }}</div>
        {% endif %}
        <ul class="style-items" data-group-value="{{ group_style['title'] }}">
        {% for key, style in group_style['style'] %}
          {% set item_class = 'style-item' %}
          {% if style['class'] %}
            {% set item_class = item_class ~ ' ' ~ style['class'] %}
          {% endif %}
          <li class="{{ item_class }}" data-item-value="{{ key }}" title="{{ style['desc'] }}">
            {% if style['asset'] %}
              <img src="{{ style['asset'] }}"  alt="{{ style['title'] }}"/>
            {% endif %}
            {% if style['title'] %}
              <div>{{ style['title'] }}</div>
            {% endif %}
          </li>
        {% endfor %}
        </ul>
      </div>
    {% endfor %}
    </div>
  {% endif %}
</div>
