//VARIABLES
$tabsMargin: 2rem 0;
$tabsItemMargin: 0;
$tabsBorderSize: 2px;
$tabsBorderRight: none;
$tabsLastChildBorderRight: $tabsBorderSize solid $border;
$tabsItemPadding: 1rem 2rem;
$tabsItemBackground: $border;
$tabsFontWeight: 400;
$tabsFontSize: 1.6rem;
$tabsBorderColor: $border;
$tabsBorderBottom: $tabsBorderSize solid $border;
$tabsRadius: 0;
$tabsTextColor: $onBackground;
$tabsHoverBorderColor: $border;
$tabsHoverBackground: $background;
$tabsHoverTextColor: $onBackground;
$tabsActiveBackground: $background;
$tabsActiveTextColor: $onBackground;
$tabsActiveBorderTopColor: $primary;
$tabsActiveBorderBottomColor: $background;
$tabsActiveBorderLeftColor: $border;
$tabsActiveBorderRightColor: $border;

//IMPORT
@import "../../../../../../themes/contrib/colonel/src/components/admin/styles";

//CUSTOM
