//VARIABLES
$breadcrumbFontSize: 1.4rem;
$breadcrumbMargin: 0.5rem 0;
$breadcrumbActiveColor: $primary;
$breadcrumbArrowWidth: 10px;
$breadcrumbArrowHeight: 10px;
$breadcrumbArrowMargin: 0 3px 0 3px;
$breadcrumbArrowTop: 1px;
$breadcrumbIconHome: yes; /*"yes" if you want an home icon*/
$breadcrumbIconHomeTop: 5px;
$breadcrumbIconHomeWidth: auto;
$breadcrumbIconHomeHeight: auto;

//IMPORT
@import "../../../../../../themes/contrib/colonel/src/components/breadcrumb/styles";

//CUSTOM
.breadcrumb {
    //mix-blend-mode: multiply;
    padding-bottom: 2px;

    a {
        text-decoration: none;

        .header-background:not(.user-logged-in) & {
            color: $onDark !important;
        }
    }

    .header-background:not(.user-logged-in) & {
        color: $onDark !important;

        li:before { filter: brightness(100); }
    }
}

.breadcrumb li:first-child a {
    text-indent: 0;
    background: none;
    top: 0;
}
