$heightBtn: 43px;
$lineHeighBtn: 40px;

//PRIMARY
@mixin btn-primary {
  display: inline-block;
  min-width: 100px;
  height: $heightBtn;
  line-height: $lineHeighBtn;
  padding: 0 20px;
  border: 2px solid $primary !important;
  border-radius: 6px;
  background-color: $primary;
  color: $onPrimary !important;
  box-shadow: none;
  text-shadow: none;
  text-decoration: none;
  font-size: 18px !important;
  font-weight: 400 !important;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  outline: 0;
  transition: outline 0.1s ease, padding 0.3s ease;

  &:hover {
    filter: brightness(1.10);
    color: $onPrimary !important;
  }
  &:active {
    outline: 4px solid rgba(0,0,0,.2);
  }
}
.btn-primary {
  @include btn-primary;
}

//SECONDARY
@mixin btn-secondary {
  display: inline-block;
  min-width: 100px;
  height: $heightBtn;
  line-height: $lineHeighBtn;
  padding: 0 20px;
  border: 2px solid $secondary !important;
  border-radius: 6px;
  background: $secondary;
  color: $onSecondary !important;
  box-shadow: none;
  text-shadow: none;
  text-decoration: none;
  font-size: 18px !important;
  font-weight: 400 !important;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  outline: 0;
  transition: outline 0.1s ease;
  &:hover, &:focus {
    background-color: $secondary !important;
    filter: brightness(1.2) !important;
    color: $onSecondary !important;
  }
  &:active {
    outline: 4px solid rgba(0,0,0,.2);
  }
}
.btn-secondary, a.btn-secondary {
  @include btn-secondary;
}

//DARK
@mixin btn-dark {
  display: inline-block;
  min-width: 100px;
  height: $heightBtn;
  line-height: $lineHeighBtn;
  padding: 0 20px;
  border: 2px solid $dark !important;
  border-radius: 6px;
  background: $dark;
  color: #fff !important;
  box-shadow: none;
  text-shadow: none;
  text-decoration: none;
  font-size: 18px !important;
  font-weight: 400 !important;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  outline: 0;
  transition: outline 0.1s ease;
  &:hover {
    filter: brightness(1.10);
    color: $onDark !important;
  }
  &:active {
    outline: 4px solid rgba(0,0,0,.2);
  }
}
.btn-dark {
  @include btn-dark;
}

//LIGHT
@mixin btn-light {
  display: inline-block;
  height: $heightBtn;
  line-height: $lineHeighBtn;
  padding: 0 20px;
  border: 2px solid $light !important;
  border-radius: 6px;
  background: $light;
  color: $dark !important;
  box-shadow: none;
  text-shadow: none;
  text-decoration: none;
  font-size: 18px !important;
  font-weight: 400 !important;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  outline: 0;
  transition: outline 0.1s ease;
  &:hover {
    background-color: $highlight;
    border-color: transparent !important;
    color: $dark !important;
  }
  &:active {
    outline: 4px solid rgba(0,0,0,.2);
  }
}
.btn-light {
  @include btn-light;
}

//TERTIARY
@mixin btn-tertiary {
  display: inline-block;
  height: $heightBtn;
  line-height: $lineHeighBtn;
  padding: 0 20px;
  border-radius: 6px;
  background: $dark;
  font-size: 18px !important;
  text-transform: uppercase;
  color: $onSecondary !important;
  text-decoration: none;
  font-weight: 400 !important;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  outline: 0;
  transition: outline 0.1s ease;
  &:hover {
    filter: brightness(1.10);
    color: $onPrimary !important;
  }
  &:active {
    outline: 4px solid rgba(0,0,0,.2);
  }
}
.btn-tertiary {
  @include btn-tertiary;
}

//WHITE
@mixin btn-white {
  display: inline-block;
  min-width: 100px;
  height: $heightBtn;
  line-height: $lineHeighBtn;
  padding: 0 20px;
  border: 2px solid #FFF !important;
  border-radius: 6px;
  background: #FFF;
  font-size: 18px !important;
  color: $onBackground !important;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  &:hover {
    filter: brightness(1.10);
    color: $onBackground !important;
    background: $highlight !important;
  }
  &:active {
    outline: 4px solid rgba(0,0,0,.2);
  }
}
.btn-white {
  @include btn-white;
}

//OUTLINE
@mixin btn-outline {
  display: inline-block;
  min-width: 100px;
  height: $heightBtn;
  line-height: $lineHeighBtn;
  padding: 0 20px;
  border: 2px solid $primary;
  border-radius: 6px;
  background: transparent;
  font-size: 18px !important;
  font-weight: 400 !important;
  color: $primary;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  &:hover, &:focus {
    border-color: $primary;
    background: $primary;
    color: $onPrimary;
  }
}
.btn-outline {
  @include btn-outline;
}

//OUTLINE WHITE
@mixin btn-outline-white {
  display: inline-block;
  min-width: 100px;
  height: $heightBtn;
  line-height: $lineHeighBtn;
  padding: 0 20px 0 20px;
  border: 2px solid #fff;
  border-radius: 6px;
//  background: url(../../../assets/chevron-right-white.svg) no-repeat center right 20px;
  background: transparent;
//  background-size: 8px;
  color: #FFF;
  text-decoration: none;
  font-size: 18px !important;
  font-weight: 700 !important;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  &:hover, &:focus {
    border-color: #FFF;
    background-color: #FFF;
    //background-image:  url(../../../assets/chevron-right-dark.svg);
    color: #111 !important;
  }
}
.btn-outline-white {
  @include btn-outline-white;
}



//LINK
@mixin btn-link {
  position: relative;
  padding-bottom: 5px;
  border: none;
  color: $primary;
  font-weight: 600;
  text-decoration: none;
  &:before {
    content: "";
    position: absolute;
    top: 1.4em;
    width: 100%;
    height: 1px;
    background: $primary;
    transition: opacity 300ms ease;
  }
  &:hover, &:focus {
    &:before {
      opacity: 0.5;
    }
  }
}
.btn-link {
  @include btn-link;
}

//LINK WHITE
@mixin btn-link-white {
  position: relative;
  padding-bottom: 5px;
  color: #FFF;
  font-weight: 600;
  border: none;
  text-decoration: none;
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    height: 1px;
    background: #FFF;
    transition: opacity 300ms ease;
  }
  &:hover, &:focus {
    &:before {
      opacity: 0.5
    }
  }
}
.btn-link-white {
  @include btn-link-white;
}

//INPUT
.button {
  @include btn-primary;
  .paragraph-layout.dark &,
  .paragraph-layout.accent & {
    @include btn-white;
  }
}

//BTN
.btn a,
a.btn {
  @include btn-secondary();
  .paragraph-layout.dark &,
  .paragraph-layout.accent & {
    @include btn-white;
  }
}

.btn.btn-primary a,
a.btn.btn-primary {
  @include btn-primary();
  .paragraph-layout.dark &,
  .paragraph-layout.accent & {
    @include btn-white;
  }
}

.btn:disabled {
  cursor: default;
  background-color: #ccc !important;
  border-color: #ccc !important;
  &:hover { opacity: 1; filter: brightness(1) !important; }
  &:focus, &:active { outline: 0 !important; }
}

//SMALL
@mixin btn-small {
  min-width: auto !important;
  padding: 0 12px !important;
  height: 36px !important;
  line-height: 33px !important;
}

.btn-small {
  @include btn-small;
}

//ICON
@mixin btn-icon($icon-left: null, $icon-right: null) {
  $base-path: "../../../assets/";
  $path-left: null;
  $path-right: null;
  $size-left: null;
  $size-right: null;

  @if $icon-left != null {
    $size-left: 22px;
    $path-left: url(#{$base-path}#{$icon-left});
    @if str-index($icon-left, 'chevron') != null {
      $size-left: 10px;
    }
  }

  @if $icon-right != null {
    $size-right: 22px;
    $path-right: url(#{$base-path}#{$icon-right});
    @if str-index($icon-right, 'chevron') != null {
      $size-right: 10px;
    }
  }

  background-image: $path-left, $path-right;
  background-repeat: no-repeat, no-repeat;
  background-size: $size-left, $size-right;
  padding-left: if($icon-left != null, 52px, 20px);
  padding-right: if($icon-right != null, 52px, 20px);
  background-position: if($icon-left != null, 16px, null), if($icon-right != null, right 16px center, null);
}

.btn-icon {
  &-file {
    @include btn-icon("document/types/file-fff.svg", "document/download-fff.svg");
  }

  &-pdf {
    @include btn-icon("document/types/pdf-fff.svg", "document/download-fff.svg");
  }

  &-zip {
    @include btn-icon("document/types/zip-fff.svg", "document/download-fff.svg");
  }

  &-chevron {
    @include btn-icon(null, "chevron-right-white.svg");
  }

  &-download {
    @include btn-icon(null, "document/download-fff.svg");
  }
}

.btn.icon-rightdownload {
  @include btn-icon(null, "download-fff.svg");
  background-size: 18px;
  padding-right: 45px !important;
}

.btn.icon-rightarrow {
  @include btn-icon(null, "forward-flat-fff.svg");
  background-size: 18px;
  padding-right: 45px !important;
}

.btn.icon-leftarrow {
  @include btn-icon("back-flat-fff.svg", null);
  background-size: 18px;
  padding-left: 45px;
}

.btn.panel-open {
  transition: padding 0.3s ease;
  outline: 4px solid rgba(0,0,0,.2);
  padding-right: 60px !important;
}