@use "sass:math";

//VARIABLES
/*input*/
$inputPadding: 0.9rem 1.6rem;
$inputBorder: 1px solid $border;
$inputRadius: 4px;
/*textarea*/
$textareaPadding: 1.2rem 1.6rem;
$textareaBorder: 1px solid $border;
$textareaRadius: 4px;
/*fieldset*/
$fieldsetPadding: 2rem;
$fieldsetBorder: 1px solid $border;
$fieldsetRadius: 4px;

//IMPORT
// no import to avoid 100% width of chosen container
//@import "../../../../../../themes/contrib/colonel/src/components/form/styles";

//INPUT
input {
  display: inline-block;
  padding: $inputPadding;
  border: $inputBorder;
  border-radius: $inputRadius;
}

//TEXTAREA
textarea {
  display: inline-block;
  padding: $textareaPadding;
  border: $textareaBorder;
  border-radius: $textareaRadius;
}

//FIELDSET
fieldset {
  padding: $fieldsetPadding;
  border: $fieldsetBorder;
  border-radius: $fieldsetRadius;
}

//FIELD
textarea,
select,
input[type="text"],
input[type="tel"],
input[type="file"],
input[type="email"],
input[type="number"],
input[type="password"] {
  width: 100% !important;
  max-width: 600px !important;
  background: none !important;
  box-sizing: border-box;
  @media (max-width: $md) {
    max-width: 100% !important;
  }
}

//THROBBER
.ajax-progress-throbber {
  display: block;
  width: 0px;
  height: 0px;
  margin: 5px auto;
  .throbber {
    position: fixed;
    top: 50%;
    left: 50%;
    display: block;
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
    background: url('../../../assets/spinner-gray.svg') no-repeat center;
    background-size: contain;
    background-color: rgba(0,0,0,.5);
    border-radius: 6px;
    padding: 10px;
  }
}
.ajax-progress-fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  margin-top: -30px;
  margin-left: -30px;
  width: 100px;
  height: 100px;
  background: url('../../../assets/spinner-gray.svg') no-repeat center;
  background-size: contain;
  background-color: rgba(0,0,0,.5);
  border-radius: 6px;
  padding: 10px;
  @media (max-width: $lg) {
    margin-left: - 20px;
  }
}


//CUSTOM
label {
  display: block;
  margin: 10px 0 2px;
  font-size: 1.6rem;
  font-weight: 400;
}
textarea, select,
input[type="text"],
input[type="tel"],
input[type="file"],
input[type="email"],
input[type="number"],
input[type="password"] {
  max-width: 100% !important;
  background: $background !important;
  color: $onBackground;
  line-height: 1.6;
}

.form-actions {
  margin-bottom: 0;
}

select {
  appearance: none;
  border: $inputBorder;
  border-radius: $inputRadius;
  padding: 3px 12px;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: 17px;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  outline: none;
  background: url(../../../assets/chevron-dark-down.svg) right 12px center no-repeat #fff !important;
  background-size: 12px !important;

  .topfilter & {
    padding-top: 11px;
    padding-bottom: 11px;
  }
}

.chosen-container {
  .chosen-drop {
    border-color: #dedede;
  }
}

.chosen-container-single .chosen-single {
  height: 44px;
  line-height: 36px !important;
  font-size: 17px !important;
  appearance: none;
  border: $inputBorder;
  border-radius: $inputRadius;
  padding: 3px 12px;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  outline: none;
  background: url(../../../assets/chevron-dark-down.svg) right 12px center no-repeat #fff !important;
  background-size: 12px !important;
  box-shadow: none;

  > div {
    display: none;
  }
}

.chosen-container-single .chosen-single {
  //background-color: $lightGray !important;
  border-color: #dedede;
  &:hover, &:focus {
    border-color: $secondary;
  }
}

.chosen-container-single .chosen-drop {
  margin-top: 0;
  padding-top: 4px;
}

.chosen-container-single .chosen-search input[type="text"] {
  background: #fff !important;
  font-size: 17px;
}

.chosen-results li {
  font-family: $font;
  font-size: 17px;
  line-height: 1.3;
  padding: 10px 12px;
}

.webform-progress,
.webform-confirmation {
  width: 100%;
  max-width: calc($container - $gutter - $gutter);
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;

  margin-bottom: $verticalGutter;

  @media (max-width: $md) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.webform-submission-form {
  width: 100%;
  max-width: calc($container - $gutter - $gutter);
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;

  margin-bottom: $verticalGutter;

  @media (max-width: $md) {
    padding-left: 15px;
    padding-right: 15px;
  }

  select {
    appearance: none;
    border: $inputBorder;
    border-radius: $inputRadius;
    padding: 11px 12px;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: 17px;
    cursor: inherit;
    line-height: inherit;
    z-index: 1;
    outline: none;
    background: url(../../../assets/chevron-dark-down.svg) right 12px center no-repeat #fff !important;
    background-size: 12px !important;
  }

  .form-type-webform-time {
    input {
      padding-top: 13.5px;
      padding-bottom: 13px;
    }
  }

  .form-type-date {
    input {
      padding-top: 14px;
      padding-bottom: 14px;
    }
  }

  .container-inline {
    margin: 0;
  }

  .progress-step.is-active .progress-marker::before {
    background-color: $primary !important;
  }

  .progress-marker::before {
    width: 34px;
    height: 34px;
  }

  .progress-marker::after {
    top: 15px;
  }

  .webform-element-description {
    margin-bottom: 12px;
  }

  .webform-address {
    margin-left: -12px;
    margin-right: -12px;
  }
}

.form-type-checkbox,
.form-type-radio {
  label {
    font-size: $fontSize;
    white-space: normal;
    color: $dark;
    margin-left: 3px;
  }
}

.form-item--error-message {
  background: $primary;
  border-radius: $radius;
  color: $onPrimary;

  &::before {
    display: none;
  }

  padding: 2px 10px;
  font-size: $fontSizeMeta;
  margin-top: 6px;
}

#mc-embedded-subscribe-form {
  input {
    margin-top: 24px;
  }
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;

  width: 18px;
  height: 18px;
  border: 1px solid $secondary;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  float: left;
  margin-right: 8px;
  transform: translateY(4px);
}

input[type="checkbox"]::before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  //clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(0) translateX(-6px) translateY(-6px);
  transform-origin: center center;
  transition: 0ms transform ease-in-out;
  box-shadow: inset 12px 12px $secondary;
}

input[type="checkbox"]:checked::before {
  transform: scale(1) translateX(-6px) translateY(-6px);
}

input[type="checkbox"]:focus {
  outline: 1px solid #ccc;
  outline-offset: 2px;
}

.checkbox-wrapper {
  margin-bottom: 6px;

  &:hover {
    opacity: 0.8;
    cursor: pointer;

    input[type="checkbox"]::before {
      transform: scale(1) translateX(-6px) translateY(-6px);
      box-shadow: inset 12px 12px #ccc;
    }

    input[type="checkbox"]:checked::before {
      transform: scale(1) translateX(-6px) translateY(-6px);
      box-shadow: inset 12px 12px $secondary;
    }
  }
}

.form-required:after {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 0.3em;
  content: "";
  color: var(--primary);
  position: relative;
  top: 1px;
  background: url(../../../assets/form/required.svg) no-repeat center;
  background-size: 8px;
}
