//VARIABLES
$container: 1600px;
$gutter: 48px;
$verticalGutter: 48px;
$mobileGutter: 15px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1650px;
$mobile: 1000px;
$tablet: $container;
$narrow: 990px;

//IMPORT
@import "../../../../../../themes/contrib/colonel/src/components/grid/styles";

//CUSTOM

.row {
    @media (max-width: $sm) {
        margin-left: - $mobileGutter;
        margin-right: - $mobileGutter;
    }
}

.col, [class^="col-"], [class*=" col-"] {
    @media (max-width: $sm) {
        padding-left: $mobileGutter;
        padding-right: $mobileGutter;
    }
}
