@use "sass:math";

//VARIABLES
$headerBackground: $background-variant;
$headerLogoBackgroundPosition: left center;
$headerLogoWidth: auto;
$headerLogoHeight: 80px;

//IMPORT
@import "../../../../../../themes/contrib/colonel/src/components/header/styles";

//CUSTOM

.region-breadcrumb {
  padding-top: 114px; // allow fixed header by default

  @media (max-width: $md) {
    padding-top: 76px;
  }

  .user-logged-in & { padding-top: 0; }
}

#header {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 0;
  z-index: 999;
  .user-logged-in & { position: relative; z-index: 11; }

  .wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .region-header {
    width: 100%;
    z-index: 11;
  }

  .region-primary-menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  .site-branding__logo img {
    width: $headerLogoWidth;
    height: $headerLogoHeight;
    transition: all .3s ease;

    @media (max-width: $md) {
        width: auto;
        height: 42px;
    }
  }

  .header-top {
    background: rgba(0,0,0,.05);
    color: black;

    .site-switcher {
      margin-left: $gutter;
      summary {
        border: none;
        cursor: pointer;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-bottom: 1px;

        background: url(../../../assets/site-switcher.svg) no-repeat;
        background-size: contain;
        filter: invert(27%) sepia(19%) saturate(392%) hue-rotate(158deg) brightness(98%) contrast(86%);

        @media (max-width: $md) {
          margin-top: 5px;
        }

        &:hover {
          //filter: invert(77%) sepia(17%) saturate(1629%) hue-rotate(27deg) brightness(96%) contrast(79%);
          opacity: 0.7;
        }
      }

      @media (max-width: $md) {
        flex: 1;
        display: flex;
        justify-content: left;
        margin-left: math.div($gutter, 2);
      }

      .dropdown {
        position: relative;
        padding: 0;
        margin: 0;

        border: none;

        summary {
          list-style: none;
          list-style-type: none;
          padding: 0;
        }

        > summary::-webkit-details-marker {
          display: none;
        }

        summary:focus {
          outline: none;
          opacity: 0.7;
        }

        .field--name-field-ss-site-switcher-link {
          position: absolute;
          margin: 20px 0 0 0;
          padding: 10px 12px;
          width: 300px;
          right: 0;

          background-color: $lightGray;
          border-radius: $radius;
          box-sizing: border-box;
          z-index: 2;
          list-style: none;
          box-shadow: 0px 6px 6px rgba(0,0,0,.1);

          @media (max-width: $md) {
           left: -140px;
           right: auto;
          }

          > .field__item {
            padding: 0;
            margin: 0;

            a:link, .dropdown ul li a:visited {
              display: inline-block;
              padding: 10px 0.8rem;
              width: 100%;
              box-sizing: border-box;

              //color: var(--dropdown-color);
              text-decoration: none;

              &::hover {
                background-color: $primary;
                color: black;
              }
            }
          }
        }

        > summary::before {
          display: none;
        }
      }

      .dropdown[open] > summary::before {
          content: ' ';
          display: block;
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          z-index: 1;
      }

    }

    .container {
      display: flex;
      justify-content: right;
      align-items: center;

      @media (max-width: $md) {
        justify-content: space-between;
      }
    }

    .menu {
      margin: 0;
      @media (max-width: $md) {
        display: none;
      }

      li {
        margin-right: 18px;
        padding-top: 0;
        padding-bottom: 4px;

        &:last-child { margin: 0; }

        a {
          font-size: 17px;
          text-decoration: none;
          color: black;

          &:hover {
            color: $primary;
          }
        }

        &.is-active {
          a {
            font-weight: bold;
          }
        }
      }
    }

    .block-language {
      margin: 0 0 0 $gutter;
      @media (max-width: $md) {
       margin-left: 0;
      }

      ul.links {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;

        li {
          margin-right: 10px;
          padding-bottom: 4px;

          @media (max-width: $md) {
            padding-bottom: 0;
          }

          &:last-child { margin: 0; }

          a {
            font-size: 17px;
            color: black;
            text-decoration: none;
            padding: 4px 0;

            &:hover {
              color: $primary;
            }

            &.is-active {
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .site-branding__logo {
      flex-shrink: 0;
      padding: 17px 0;
    }

    .header-menu-wrapper {
      display: flex;
      align-items: center;
      padding: 20px 0;
      //transition: padding .3s ease;

      /*.search {
        margin-left: math.div($gutter, 2);

        @media (max-width: $md) {
          order: -1;
          margin-right: 24px;
        }

        a {
          display: inline-block;
          width: 27px;
          height: 27px;
          background: url(../../../assets/search.svg) no-repeat;
          background-size: contain;
          //filter: invert(27%) sepia(19%) saturate(392%) hue-rotate(158deg) brightness(98%) contrast(86%);
          opacity: 0.9;

          @media (max-width: $md) {
            height: 22px;
            width: 22px;
          }

          &:hover {
            //filter: invert(77%) sepia(17%) saturate(1629%) hue-rotate(27deg) brightness(96%) contrast(79%);
            opacity: 0.7;
          }
        }
      }*/
    }
  }

  &.scrolled {
    box-shadow: 0px 3px 2px rgba(0,0,0,0.1);
    transition: top 0.2s ease;
    top: 0;

    .header-menu-wrapper {
      padding: 10px 0;
      @media (max-width: $md) {
        padding: 19px 0;
      }
    }

    .site-branding__logo {
      padding: 16px 0;

      img {
        width: auto;
        height: math.div($headerLogoHeight, 1.3);

        @media (max-width: $md) {
          width: auto;
          height: 42px;
        }
      }

    }
  }
}
