//VARIABLES
$linkInlineItemMargin: 0 2rem 0 0;
$linkInlineColor: $primary;
$linkInlineTextDecoration: none;
$linkInlineHoverColor: $primary;
$linkInlineHoverTextDecoration: underline;
$linkInlineFontSize: 18px;
$linkInlineFontWeight: 700;

//IMPORT
@import "../../../../../../themes/contrib/colonel/src/components/links-inline/styles";

//CUSTOM
