@use "sass:math";

//VARIABLES

//IMPORT
@import "../../../../../../themes/contrib/colonel/src/components/menu/styles";

//CUSTOM
.tbm {
    background: transparent !important;

    .tbm-item.level-1 {
        border: none !important;
        padding-right: 10px !important;
        padding-left: 10px !important;

        .tbm-link-container {
            background: transparent;

            a.level-1 {
                color: $secondary;
                text-decoration: none;

                &.active-trail {
                    color: $primary;
                }

                &::after {
                    content: "";
                    display: block;
                    width: 100%;
                    height: 1px;
                    background: none;//rgba($lightGray, .1);
                    margin-top: 2px;
                }

                &:hover, &:focus {
                    background: transparent;
                    &::after { background: $primary; }
                }
            }
        }

        .active-trail {
            &::after { background: $primary !important; }
        }
    }

    .tbm-group-container {
        border: none;

        a {
            text-decoration: none;
        }
    }

    .tbm-submenu  {
        width: 100vw;
        left: 0;
        border: none;
        box-shadow: 0px 3px 7px rgba(0,0,0,.1);
        background: #fff;
        top: 76px !important;
        .scrolled & {
            top: 72px !important;
        }

        .tb-dropdown-inner {
            max-width: $container;
            margin: auto;
            padding: $verticalGutter $gutter !important;

            .tb-row {
                display: grid;
                grid-template-columns: 1fr 3fr;
                gap: $gutter * 2;

                @media (max-width: $lg) {
                    grid-template-columns: 1fr 2fr;
                }

                .tbm-subnav.level-1 {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    gap: $gutter * 2;
                }

                .tbm-subnav.level-3 {
                    font-size: 17px;
                    padding-left: 16px;
                }

                .tbm-subnav.level-4 {
                    font-size: 17px;
                    padding-left: 32px;
                }

                .tbm-link-container .tbm-group-title,
                .tbm-link {
                    font-weight: normal;
                    text-transform: none;
                    text-decoration: none;
                    padding: 0 0 10px 0;
                    line-height: 1.3;
                    color: #222;
                }

                .tbm-link {
                    &:hover {
                        color: $primary;
                    }
                }

                .tbm-group.level-2 {
                    > .tbm-link-container > .tbm-group-title {
                        text-decoration: none;
                        border-bottom: 3px solid $secondary;
                        font-weight: bold;
                        padding-bottom: math.div($verticalGutter, 2);
                        margin-bottom: 18px;

                        &.active-trail {
                            border-bottom-color: $primary;
                        }
                    }
                }

                .tbm-link.level-2.active-trail {
                    color: $primary !important;
                }

                .tbm-link.level-2.active-trail.tbm-group-title {
                    color: #222 !important;
                }

                .tbm-group.level-3 {
                    > .tbm-link-container > .tbm-group-title {
                        text-decoration: none;

                        &.active-trail {
                            color: $primary !important;
                        }
                    }
                }

                .tbm-link.level-3.active-trail {
                    color: $primary !important;
                }

                .tbm-group.level-4 {
                    > .tbm-link-container > .tbm-group-title {
                        text-decoration: none;

                        &.active-trail {
                            color: $primary !important;
                        }
                    }
                }

                .tbm-link.level-4.active-trail {
                    color: $primary !important;
                }

                .tbm-group.level-5 {
                    > .tbm-link-container > .tbm-group-title {
                        text-decoration: none;

                        &.active-trail {
                            color: $primary !important;
                        }
                    }
                }
            }
        }
    }

    .mobile-only {
        display: none;
    }
}

.tbm.tbm--mobile {
    position: inherit !important;

    .mobile-only {
        display: block;
    }

    .tbm-button {
        border: none;
        padding: 0;
        background: transparent !important;
    }

    .tbm-button-container {
        margin: 5px 0 0 0;
        padding: 0;
        width: 3rem;

        span {
            background: $lightGray;
            height: 0.25rem;

            &:nth-child(2),
            &:nth-child(3) {
                top: calc(50% - 0.14rem);
            }
        }
    }

    .tbm-nav {
        background: #fff !important;
    }

    .menu-content {
        display: none !important;
    }

    .tbm-collapse {
        right: 0;
        width: 100vw;
        height: calc(100vh - 120px);
        position: absolute;
        box-shadow: 0px 6px 6px rgba(0,0,0,.3);
        overflow-y: scroll;
    }

    .tbm-item {
        border-top: none !important;
    }

    .tb-row {
        display: flex;
        flex-direction: column;
    }

    .tbm-link.level-1 {
        color: $secondary !important;
        padding: 8px 24px !important;
        @media (max-width: $sm) {
            padding: 8px 0px !important;
        }
    }

    .tbm-submenu .tb-dropdown-inner .tb-row {
        display: block;
    }

    .tbm-submenu .tb-dropdown-inner {
        padding: 24px 0 24px 20px !important;
        background: $lightGray;
    }

    .tbm-submenu {
        border: none !important;

        .tbm-submenu-toggle {
            background: transparent;
            border: none;
        }

        //highlight active level2 on mobile
        .tb-dropdown-inner {
            .tb-row {
                .tbm-link.level-2.active-trail.tbm-group-title {
                    color: $primary !important;
                }
            }
        }
    }

    .tbm-submenu .tb-dropdown-inner .tb-row .tbm-subnav.level-1 {
        display: block;
    }

    .tbm-group.level-2 {
        > .tbm-link-container > .tbm-group-title {
            text-decoration: none;
            border-bottom: none !important;
            font-weight: normal !important;
            padding-bottom: 0 !important;
            margin-bottom: 8px !important;

            &.active-trail {
                border-bottom: none !important;
                color: $primary;
            }
        }
    }

    .tbm-submenu-toggle {
        position: relative;
        left: -24px;
        border-left: none !important;
        border-bottom: 3px solid rgba(69, 81, 88, 0.1);
        background-color: transparent;
        width: 30px;
        line-height: 15px;
        top: -8px;
        @media (max-width: $sm) {
            left: 0;
        }

        &::before {
            content: " ";
            border: none;
            width: 30px;
            height: 30px;
            margin-top: 1px;
            background: url(../../../assets/modal/close-l.svg) center center no-repeat !important;
            background-size: contain !important;
            position: absolute;
            left: 1px;
            top: 10px;
            transform: rotate(135deg);;
        }

        .level2 & {
            background: transparent !important;
            border: none;
        }
    }

    .tbm-collapse {
        padding: 16px 0 24px 0;
        box-shadow: 0px 3px 7px rgba(0,0,0,0.1) !important;
    }

    .open >.tbm-link-container>.tbm-submenu-toggle:before { transform: rotate(0deg); }
    .active >.tbm-link-container>.tbm-submenu-toggle:before { transform: rotate(0deg); }
    .open.active >.tbm-link-container>.tbm-submenu-toggle:before { transform: rotate(135deg); }

    /*.tbm-item--has-dropdown.open {
        > .tbm-link-container {
            > .tbm-submenu-toggle::before {
                transform: translateY(-37%) translateX(-40%) rotate(135deg);
                color: #000;
            }
        }
    }*/

    .tbm-item-child {
        display: none;
    }

    .open > .tbm-item-child,
    .active > .tbm-item-child {
        display: block;
    }

    .open.active > .tbm-item-child {
        display: none;
    }

    .tbm-link-container > .tbm-submenu-toggle {
        border-bottom: none;
    }

    .level-1.tbm-item--has-dropdown.active > .tbm-link-container > .tbm-submenu-toggle {
        border-bottom: 1px solid $primary;
    }
}
