//VARIABLES
$messagesMargin: 2rem 0;
$messagesRadius: 4px;
$messagesPadding: 2rem;
/*default*/
$messagesBackground: $info;
$messagesColor: #fff;
/*status*/
$messagesStatusBackground: $success;
$messagesStatusColor: #fff;
/*warning*/
$messagesWarningBackground: $warning;
$messagesWarningColor: #fff;
/*error*/
$messagesErrorBackground: $danger;
$messagesErrorColor: #fff;

//IMPORT
@import "../../../../../../themes/contrib/colonel/src/components/messages/styles";

//CUSTOM
