//VARIABLES
$pagerLinkColor: $onBackground;
$pagerLinkHoverColor: $primary;
$pagerLinkActiveColor: $primary;
$pagerLinkActiveFontWeight: 700;
$pagerIconWidth: 18px;
$pagerIconHeight: 18px;
$pagerIconPreviousMargin: 0 5px 0 0;
$pagerIconNextMargin: 0 0 0 5px;

//IMPORT
@import "../../../../../../themes/contrib/colonel/src/components/pager/styles";

//CUSTOM
.pager .pager__items {
  border: none;
  text-align: left !important;
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pager .pager__item {
  margin: 4px 0 0 0;
  padding: 0 !important;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  height: auto !important;

  &.is-active {
    a {
      padding: 4px 16px;
      font-weight: 500;
      background: $secondary;
      color: $onSecondary;
      border-radius: $radius;
      border-color: $secondary;
    }
  }
}

.pager__item a {
  padding: 4px 16px;
  font-weight: 500;
  text-decoration: none;
  background: $light;
  color: $secondary;
  border: 1px solid $light;
  border-radius: $radius;
  transform: all 0.3s ease;

  &:hover {
    border-color: $secondary;
    color: $secondary;
  }
}

.pager__item--previous a {
  display: inline !important;

  &::before {
    display: none !important;
  }

  &:hover, &:focus {
    border-color: $secondary;
  }
}
.pager__item--next a {

  &::after {
    display: none !important;
  }

  &:hover, &:focus {
    border-color: $secondary;
  }
}
.paragraph-layout.dark,
.paragraph-layout.primary,
.paragraph-layout.secondary {
  .pager {
    color: $onPrimary;
    a {
      color: $onPrimary;
    }
  }
}
