//VARIABLES
$font: 'Open Sans', Helvetica, sans-serif;
$fontalt: 'Open Sans', Helvetica, sans-serif;
$fontSize: 1.8rem;
$lineHeight: 2.8rem;
$fontWeight: 400;
$textColorPrimary: $onBackground;
$textColorSecondary: $onBackground-variant;
$fontSizeMeta: 1.4rem;
$lineHeightMeta: 2rem;
/*link*/
$linkColor: $link;
$linkHoverColor: $link-variant;
/*h1*/
$h1FontSize: 3.8rem;
$h1LineHeight: 4.4rem;
$h1Color: $onBackground;
/*h2*/
$h2FontSize: 3.6rem;
$h2LineHeight: 4.3rem;
$h2Color: $onBackground;
/*h3*/
$h3FontSize: 2.4rem;
$h3LineHeight: 3.1rem;
$h3Color: $onBackground;
/*h4*/
$h4FontSize: 2.2rem;
$h4LineHeight: 3.2rem;
$h4Color: $onBackground;
/*h5*/
$h5FontSize: 1.8rem;
$h5LineHeight: 2rem;
$h5Color: $onBackground;
/*h6*/
$h6FontSize: 1.6rem;
$h6LineHeight: 2rem;
$h6Color: $onBackground;
/*blockquote*/
$blockquoteMargin: 4.8rem 0;
$blockquotePadding: 3.6rem 4.8rem;
$blockquoteBorder: none;//3px solid $onBackground;
/*table*/
$tableHeadBorderBottom: 2px solid $border;
$tableMargin: 0 0 1rem 0;
$tableCellPadding: .75rem;
$tableCellBorderTop: 1px solid $border;

//IMPORT
@import "../../../../../../themes/contrib/colonel/src/components/type/styles";

//CUSTOM
body {
  @media (max-width: $md) {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}
/*link*/
a {
  color: $onBackground;
  text-decoration: underline;
  &:hover, &:focus {
    color: $primary;
  }

  text-underline-offset: 2px;
}

/*titles*/
h1,h2,h3,h4,h5,h6 {
  font-weight: 500;
  margin-bottom: 1rem;
  margin-top: 0;
}
p+h2 {margin-top: 3rem;}
p+h3 {margin-top: 1.5rem;}
p+h4 {margin-top: 1rem;}
p+h5 {margin-top: 1rem;}
p+h6 {margin-top: 1rem;}

h4,h5,h6 {
  font-weight: 400;
}

h2 .field--name-title {
  font-size: $h1FontSize;
  line-height: $h1LineHeight;
}

/*blockquote*/
blockquote {
  margin: $blockquoteMargin !important;
  padding: $blockquotePadding !important;
  border-left: $blockquoteBorder !important;
  background-color: $theme_color_4;
  color: #fff;
  font-size: 17px;
  font-weight: 700;

  p.highlight {
    font-size: $fontSize;
    font-weight: 400;
    padding: 0 !important;
    margin: 1rem 0;
    background: transparent !important;

    &::before {
      content: "\0022";
      display: block;
      font-size: 200%;
      font-style: italic;
      margin-left: -9px;
    }

    &::after {
      content: "\0022";
      font-style: italic;
    }

  }
}

/*caption*/
.field--name-field-m-caption {
  padding: 13px 30px;
  background: $light;
  text-align: center;
  p {
    margin: 0;
    padding: 0;
  }
}
figcaption {
  font-size: 1.6rem;
  line-height: 2rem;
  color: $onLight !important;
}
/*copyright*/
.field--name-field-m-copyright {
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 1.2rem;
  line-height: 1.4rem;
  p {
    margin: 0;
    padding: 0;
  }
}

/*tables*/
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
  }
}

/*link black*/
@mixin linkBlack {
  border-bottom: 1px solid $dark;
  color: $dark;
  text-decoration: none;
  transition: all ease 300ms;
  &:hover, &:focus {
    color: $primary;
    text-decoration: none;
    border-color: $primary;
  }
}

/*link white*/
@mixin linkWhite {
  border-bottom: 1px solid $onPrimary;
  color: $onPrimary;
  text-decoration: none;
  transition: opacity ease 300ms;
  &:hover, &:focus {
    border-bottom: 1px solid $onPrimary;
    color: $onPrimary;
    opacity: 0.5;
  }
}

/* fa-x-twitter */
.fa-x-twitter {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="white" d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 1em;
  height: 1em;
}

/* fa-facebook */
.fa-facebook {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="white" d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 1em;
  height: 1em;
}

/* fa-instagram */
.fa-instagram {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="white" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 1em;
  height: 1em;
}

/* fa-linkedin */
.fa-linkedin {
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="white" d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z"/></svg>');
  background-size: contain;
  background-repeat: no-repeat;
  display: inline-block;
  width: 1em;
  height: 1em;
}

.get-involved-right {
  /* fa-x-twitter */
  .fa-x-twitter {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="black" d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1em;
    height: 1em;
  }

  /* fa-facebook */
  .fa-facebook {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="black" d="M80 299.3V512H196V299.3h86.5l18-97.8H196V166.9c0-51.7 20.3-71.5 72.7-71.5c16.3 0 29.4 .4 37 1.2V7.9C291.4 4 256.4 0 236.2 0C129.3 0 80 50.5 80 159.4v42.1H14v97.8H80z"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1em;
    height: 1em;
  }

  /* fa-instagram */
  .fa-instagram {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="black" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1em;
    height: 1em;
  }

  /* fa-linkedin */
  .fa-linkedin {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="black" d="M100.3 448H7.4V148.9h92.9zM53.8 108.1C24.1 108.1 0 83.5 0 53.8a53.8 53.8 0 0 1 107.6 0c0 29.7-24.1 54.3-53.8 54.3zM447.9 448h-92.7V302.4c0-34.7-.7-79.2-48.3-79.2-48.3 0-55.7 37.7-55.7 76.7V448h-92.8V148.9h89.1v40.8h1.3c12.4-23.5 42.7-48.3 87.9-48.3 94 0 111.3 61.9 111.3 142.3V448z"/></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    width: 1em;
    height: 1em;
  }
}
