{#
/**
 * @file
 * Default theme implementation for the Cappuccino Countdown timer PT.
 *
 * Available variables:
 * - attributes: HTML attributes for the containing span element.
 * - timer_id: Timer id.
 * - final_date: The actual countdown time (optional).
 *
 * @ingroup themeable
 */
#}
{% set classes = [
  'ino-countdown',
] %}
{% block countdown %}
  <div{{ attributes.addClass(classes).setAttribute('data-cdtimer-id', timer_id) }}>
    <div class="cdtimer">
    <div class="cdcol years">
        <div class="cdtime-wrapper" style="display: none;">
          <div class="unit yearsunit">00</div>
          <div class="label">{{ 'Years'|t }}</div>
        </div>
      </div>
      <div class="cdcol months">
        <div class="cdtime-wrapper" style="display: none;">
          <div class="unit monthsunit">00</div>
          <div class="label">{{ 'Months'|t }}</div>
        </div>
      </div>
      <div class="cdcol weeks">
        <div class="cdtime-wrapper" style="display: none;">
          <div class="unit weeksunit">00</div>
          <div class="label">{{ 'Weeks'|t }}</div>
        </div>
      </div>
      <div class="cdcol days">
        <div class="cdtime-wrapper" style="display: none;">
          <div class="unit daysunit">00</div>
          <div class="label">{{ 'Days'|t }}</div>
        </div>
      </div>
      <div class="cdcol hours">
        <div class="cdtime-wrapper" style="display: none;">
          <div class="unit hoursunit">00</div>
          <div class="label">{{ 'Hours'|t }}</div>
        </div>
      </div>
      <div class="cdcol minutes">
        <div class="cdtime-wrapper" style="display: none;">
          <div class="unit minutesunit">00</div>
          <div class="label">{{ 'Minutes'|t }}</div>
        </div>
      </div>
      <div class="cdcol seconds">
        <div class="cdtime-wrapper" style="display: none;">
          <div class="unit secondsunit">00</div>
          <div class="label">{{ 'Seconds'|t }}</div>
        </div>
      </div>
    </div>

    <div class="cdtimer-bottom">
      {% if final_date.prefix %}
        <div class="cdtimer-prefix">
          {{ final_date.prefix }}
        </div>
      {% endif %}

      {{ final_date|without('prefix', 'suffix') }}

      {% if final_date.suffix %}
        <div class="cdtimer-suffix">
          {{ final_date.suffix }}
        </div>
      {% endif %}
    </div>

    <div class="end-text" style="display: none"></div>

  </div>
{% endblock countdown %}
