<div {{ attributes.addClass('card') }}>
  <div class="card-title">
    {{ content.field_title }}
  </div>
  <div class="card-content">
    {{ content.field_ph_card_image }}
    {{ content.field_ph_card_summary }}
    {{ content.field_ph_card_link }}
  </div>
</div>
