{#
/**
 * @file
 * Theme override to display a region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region <div>.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 */
#}
{%
  set classes = [
    'region',
    'region-' ~ region|clean_class,
  ]
%}
{% if elements %}
  <div{{ attributes.addClass(classes) }}>
    {% if elements.ino_basetheme_custom_header %}
      {{ elements.ino_basetheme_custom_header }}
    {% endif %}
    {% for key, element in elements|without('ino_basetheme_custom_header') %}
      {% if key|first != '#' %}
        {{ element }}
      {% endif %}
    {% endfor %}
  </div>
{% elseif content %}
  {{ content }}
{% endif %}
