.ino-one-third > .row {
  display: flex;
  flex-wrap: wrap;
}

.ino-one-third > .row > .layout__region {
  min-height: 40px;
}

.ino-one-third > .row > .left-region {
  width: 33%;
}

.ino-one-third > .row > .right-region {
  width: 67%;
}
