.ino-three-column-bricks > .row {
  display: flex;
  flex-wrap: wrap;
}

.ino-three-column-bricks > .row-middle > .layout__region {
  width: 33%;
  min-height: 40px;
}

.ino-three-column-bricks > .row-top > .layout__region {
  width: 100%;
  min-height: 40px;
}
