
.style-items .theme_color_1 div {
    background-color: var(--theme_color_1);
}
.style-items .theme_color_2 div {
    background-color: var(--theme_color_2);
}
.style-items .theme_color_3 div {
    background-color: var(--theme_color_3);
}
.style-items .theme_color_4 div {
    background-color: var(--theme_color_4);
}
.style-items .theme_color_5 div {
    background-color: var(--theme_color_5);
}
.style-items .theme_color_6 div {
    background-color: var(--theme_color_6);
}
.style-items .theme_color_7 div {
    background-color: var(--theme_color_7);
}
.style-items .theme_color_8 div {
    background-color: var(--theme_color_8);
}
.style-items .theme_color_1 div, .style-items .theme_color_2 div,
.style-items .theme_color_3 div, .style-items .theme_color_4 div,
.style-items .theme_color_5 div, .style-items .theme_color_6 div,
.style-items .theme_color_7 div, .style-items .theme_color_8 div {
    min-width: 40px;
    min-height: 40px;
}
