{% macro field_template(content, label, field, condition=true, override='') %}
  {% if condition %}
    {% set class_name = '' %}
    {% if field is not empty %}
      {% set class_name = 'field-template-' ~ field|lower|replace({' ': '-', '_': '-', '/': '-', '\\': '-'})|trim %}
    {% endif %}
    <div class="field {{ class_name }}">
      {% if label is not empty %}
        <span class="field-label">{{ label|t }}:</span>
      {% endif %}
      <span class="field-value">
        {% if override is not empty %}
          {{ override }}
        {% else %}
          {{ attribute(content, field) }}
        {% endif %}
      </span>
    </div>
  {% endif %}
{% endmacro %}
