{% set similar_content = '' %}
{% if content.field_n_themes['#items'] is not empty %}
  {% set ids = [] %}
  {% for item in content.field_n_themes['#items'] %}
    {% set ids = ids|merge([item.target_id]) %}
  {% endfor %}
  {% set id_string = ids|join('+') %}
  {% if drupal_view_result('similar_content', 'block_1', node.id, id_string) is not empty %}
    {% set similar_content = drupal_view('similar_content', 'block_1', node.id, id_string) %}
  {% endif %}
{% else %}
  {% if drupal_view_result('similar_content', 'block_1', node.id) is not empty %}
    {% set similar_content = drupal_view('similar_content', 'block_1', node.id) %}
  {% endif %}
{% endif %}

{% if similar_content is not empty %}
<div class="similar-row">
  <div class="similar-container">
    <div class="similar-title">{{ "You may also be interested in" | t }}</div>
    {{ similar_content }}
  </div>
</div>
{% endif %}
