{% set image_field = image_field ?: 'field_n_teaser_image' %}

{% set image_field_value = attribute(node, image_field) %}
{% set image_exists = image_field_value is defined and image_field_value|length > 0 and image_field_value[0] is not empty %}

{% if not image_exists %}
  {% set classes = classes|merge(['without-image']) %}
{% endif %}
<article{{ attributes.addClass(classes) }}>
  <div class="card-wrapper">
    <a href="{{ url }}" class="card-link">
      <div class="card-content">
        {% if image_exists %}
          <div class="card-image-background">
            {{ attribute(content, image_field) }}
          </div>
        {% else %}
          <div class="placeholder"></div>
        {% endif %}
        {% block image_after %}
        {% endblock %}
        <div class="category-wrapper">
          <div class="category">
            {% block category %}
            {% endblock %}
          </div>
        </div>
        <h3 class="card-title">{{ label }}</h3>
        {% block meta_after %}
        {% endblock %}
        {% block content_after %}
        {% endblock %}
      </div>
    </a>

  </div>
</article>
