<div class="ino-footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-left">
        © Copyright {{ "now"|date("Y") }} Cappuccino Base
      </div>
      <div class="footer-right">
        {{ drupal_menu('footer') }}
      </div>
    </div>
    <div class="footer-bottom">
      {{ body }}
    </div>
  </div>
</div>
