.style-group {
  display: inline-block;
  margin: 0 20px 10px 0;
}
.style-group-label {
  margin-bottom: 2px;
  font-weight: 700;
}
.style-items {
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 0;
  list-style: none;
}
.style-item {
  display: inline-block;
  margin: 0 2px 0 0;
  padding: 5px 20px;
  border: 2px solid transparent;
  border-radius: 4px;
  background: rgba(0,0,0,0.03);
  text-align: center;
  cursor: pointer;
}
.style-item img {
  max-height: 25px;
}
.style-item:hover {
  background: rgba(0,0,0,0.1);
}
.style-item.active {
  border-color: #333;
}
