{#
/**
 * @file
 * Theme override for a main view template.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes names, if any.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The optional pager next/prev links to display.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Optional feed icons to display.
 * - more: An optional link to the next page of results.
 * - title: Title of the view, only used when displaying in the admin preview.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the view title.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the view title.
 * - attachment_before: An optional attachment view to be displayed before the
 *   view content.
 * - attachment_after: An optional attachment view to be displayed after the
 *   view content.
 * - dom_id: Unique id for every view being printed to give unique class for
 *   JavaScript.
 *
 * @see template_preprocess_views_view()
 */
#}
{%
  set classes = [
    'view',
    'view-' ~ id|clean_class,
    'view-id-' ~ id,
    'view-display-id-' ~ display_id,
    dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
%}
{{ attach_library('ino_search/search_page_sort') }}
<div{{ attributes.addClass(classes) }}>
  <div class="search-wrapper">
  {{ title_prefix }}
    <h2>{{ 'Search results'|t }}</h2>
  {{ title_suffix }}

  <div class="row">
    <div class="main col-12 col-md-8">

      <div class="sort-links">
        <a class="relevancy" data-sort="search_api_relevance">{{ 'Sort by relevance'|t }}</a>
        <a class="date" data-sort="created">{{ 'Sort by date'|t }}</a>
      </div>

      {% if rows %}
        <div class="view-content">
          {{ rows }}
        </div>
      {% elseif empty %}
        <div class="view-empty">
          {{ empty }}
        </div>
      {% endif %}

      {% if pager %}
        {{ pager }}
      {% endif %}

    </div>

    <div class="col-12 col-md-4">
      <div class="sidebar">
        <h3>{{ 'Search filters'|t }}</h3>

        {% if exposed %}
          <div class="view-filters">
            {{ exposed }}
            <div class="facets-views-plugin">
              <h2>{{ 'Content type'|t }}</h2>
              {{ drupal_block('facet_block:content_type_facet') }}
              <h2>{{ 'Country'|t }}</h2>
              {{ drupal_block('facet_block:country') }}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  {% if footer %}
    <div class="view-footer">
      {{ footer }}
    </div>
  {% endif %}
  {% if feed_icons %}
    <div class="feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>
</div>
