{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished',
  'container',
  ]
%}
{% block paragraph %}
  {% set id_value = paragraph.field_title.value %}
  {% if paragraph.field_ph_hash.value is not empty %}
    {% set id_value = paragraph.field_ph_hash.value %}
  {% endif %}

  {% set processed_id = id_value|lower
    |replace({' ': '-', '(': '', ')': '', '<': '', '>': '', ';': '', '{': '', '}': ''})
    |url_encode %}

  <div{{ attributes.addClass(classes) }} id="{{ processed_id }}">
    {{ content.field_ph_tabitem_content }}
  </div>
{% endblock paragraph %}
