.lpb-form__actions {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    margin-bottom: 0px;
    width: 400px;

    .button {
        @include btn-primary;
    }

    .button--primary {
        z-index: 1;
    }

    .ajax-progress {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(255, 255, 255, 0.7);
        display: flex;
        justify-content: center;
        align-items: top;
        z-index: 2;

        .throbber {
            display: inline-block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 3px solid #ccc;
            border-top-color: #333;
            animation: spin 0.8s infinite linear;
        }

        @keyframes spin {
            to { transform: rotate(360deg); }
        }
    }
}

.layout-paragraphs-builder-form.field-name-field_n_advtitle {
  position: relative;
}
.layout-paragraphs-builder-form.field-name-field_n_advtitle .lpb-form__actions {
  position: absolute;
}

.lpb-enable {
  z-index: 100;
}

.lpb-dialog {
    min-width: 800px;
    .ui-widget-content,
    .ui-dialog-buttonpane {
        .button {
            @include btn-primary;
            color: #fff;
        }
    }

    .filter-wrapper {
        padding: 10px;
        border: 1px solid #ccc;
        margin-top: 20px;
    }

    .tips {
        list-style-position: inside;
    }

    .style-wrapper {
        padding: 5px 20px;
    }
}

.lpb-controls-label {
    font-size: 17px !important;
    font-family: $font;
}


ul.local-edit  {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    border-bottom: 1px solid $border;
    margin-top: 25px;

    li {
        a {
            padding: 1.2rem 2rem;
            border: 1px solid $border;
            border-right: none;
            border-bottom: none;
            font-size: 17px;
        }

        &:last-child a {
            border-right: 1px solid $border;
        }
    }
}

form.layout-paragraphs-builder-form .js-lpb-component-list {
    padding: 0px;
    padding-right: 20px;
    padding-left: 20px;
}

.js-lpb-component-list > .js-lpb-component {
    border: 1px solid #ccc;
    padding: 0px;
}

.lpb-btn--add {
    font-family: $font;
    font-size: 17px;
    width: 30px;
    height: 30px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center center;
}

.lpb-btn--add.before {
    top: -20px;
}

a.lpb-enable-button {
    font-family: $font;
    font-size: 17px;
}

.lpb-btn {
    font-family: $font;
    font-size: 17px;
    line-height: 1.6;
    right: 215px;
    left: auto;
    transition: all 0.1s ease;
    transform-origin: 0% 0%;
    background-color: #00659b;
    color: #fff;
    text-decoration: none;
    padding: 6px 10px;
    border-radius: 5px;

    &:hover {
        color: #fff;
        text-decoration: none;
        background-color: #00476e;
    }
}

.lpb-btn.before {
    top: -39px;
    border-radius: 5px 5px 0 0;
}

.lpb-btn.after {
    right: 0;
    bottom: 0;
    display: none;
}

.lpb-layout {
    &:last-child {
        .lpb-btn.after {
            display: block;
        }
    }
}

.lpb-dialog .ui-widget-content
{
    .button.media-library-item__remove {
        background-color: white;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 0.75rem;
        background-image: url("data:image/svg+xml,%3csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.344 2.343l11.313 11.313M2.344 13.657L13.657 2.343' stroke='%2355565B' stroke-width='3'/%3e%3c/svg%3e");
        min-width: 0px;
        padding: 0px;
        height: 20px;
        right: auto;
        left: 5px;
        &:hover {
            background-image: url("data:image/svg+xml,%3csvg width='16' height='16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2.344 2.343l11.313 11.313M2.344 13.657L13.657 2.343' stroke='%2355565B' stroke-width='3'/%3e%3c/svg%3e");
            background-color: white;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 0.75rem;
            padding: 0px;
        }
    }

    .media-library-edit__link {
        background-repeat: no-repeat;
        background-position: center;
        background-size: 16px 16px;
        text-indent: -9999px;
    }
}

.layout-paragraphs-component-form {
    font-size: 17px;

    .button {
        margin: 0 20px 0 0;
    }

    .ui-button {
        background: $primary !important;
        border-radius: 100px !important;
    }

    select {
        padding: 10px;
        border-radius: $radius;
        border-color: $border
    }

    .js-form-managed-file, input, .ui-widget input {
        font-size: 17px !important;
    }
}


.media-library-content {
    input, .ui-widget input {
        font-size: 17px !important;
    }
}

.media-library-views-form table {
    font-size: 17px !important;
}

.media-library-wrapper .views-display-link {
    font-size: 17px !important;
    padding-left: 22px !important;
}

.ui-dialog .ui-dialog-buttonpane button {
    @include btn-primary;
    background: $primary !important;
    border-radius: 100px !important;
}

.ui-dialog-buttonpane {
    font-size: 17px !important;
}

.form-composite > .fieldset-wrapper > .description, .form-item .description {
    font-size: 17px !important;
    line-height: 1.7;
}

.media-library-menu {
    margin: 30px 0;
    padding: 50px 30px 0 0;
    flex: 1 0 220px;

    li {
        margin-top: 8px;
    }

    .media-library-menu__link {
        padding: 4px 12px;
        border: 1px solid $border;
        border-radius: $radius;
        font-size: 17px;
        line-height: 25px;
        font-weight: bold;

        &:hover {
            border: 1px solid $dark;
            color: $dark;
        }

        &.active {
            border: 1px solid $primary;
            color: $primary;
        }

        &.active:hover {
            border: 1px solid $primary;
            color: $primary;
        }
    }
}
