
.paragraph--type--ino-pt-modal {
  margin: 1em 0;

  .field--name-field-title {
    margin: 10px 0;
    color: $onBackground;
    font-size: 1.8rem;
    font-weight: 700;
  }
  .modal-link {
    outline: none;
    .paragraph-layout.primary &,
    .paragraph-layout.secondary &,
    .paragraph-layout.dark & {
      @include btn-white;
    }
  }
}

//MODAL
.ui-dialog {
  position: fixed !important;
  top: 10vh !important;
  min-width: 640px !important;
  padding: 0;
  border: none !important;
  border-radius: $radius;
  overflow: hidden;
  .ui-widget-header {
    padding: 1rem 2rem !important;
    border: none;
    border-bottom: none;
    border-radius: 0;
    background: $background-variant;
    color: $onBackground-variant;

    .ui-dialog-title {
      font-size: 20px !important;
    }

  }
  .ui-dialog-titlebar-close {
    top: 33px;
    right: 2rem;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-position: center;
    background-image: url('../../../assets/modal/close.svg');
    background-color: transparent !important;
    span {
      display: none;
    }
    &:hover, &:focus {
      opacity: 0.7;
    }
  }
  .ui-dialog-titlebar {
    padding: 2rem;
  }
}
//OVERLAY
.ui-widget-overlay {
  background: rgba(0,0,0,0.4);
  opacity: 1;
}

