.paragraph--type--ino-pt-document {
  .paragraph + & {
    margin-top: 1rem;
  }
  .paragraph--type--ino-pt-document + & {
    margin-top: 0;
  }

  .field--name-field-title {
    margin-bottom: 5px;
  }

  .paragraph-layout.dark &,
  .paragraph-layout.primary &,
  .paragraph-layout.secondary & {
    .field--name-field-title {
      color: $onPrimary;
    }
  }
  
  .field--name-field-media-file-thumbnail {
    display: none;
  }
  .field--name-field-ph-document-items {
    .field__item {
      display: inline-block;
      width: 100%;
      margin-bottom: 8px;
    }
  }
  .field--name-field-media-file {
    .file {
      display: block;
      margin: 0;
      padding: 0;
      background: none;
    }
    a {
      position: relative;
      display: flex;
      align-items: center;
      padding: 10px 24px 10px 18px;
      border-radius: $radius;
      background: $primary;
      font-size: 18px;
      line-height: 1.3;
      font-weight: 600;
      color: $onPrimary !important;
      text-decoration: none !important;
      &:hover, &:focus {
        text-decoration: underline !important;
      }
      @media (max-width: $md) {
        font-size: 2rem;
      }
      &:before {
        content: "";
        display: inline-block;
        width:25px;
        min-width: 25px;
        height: 25px;
        margin-right: 12px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
      }
      &:after {
        content: "";
        display: inline-block;
        width: 20px;
        min-width: 20px;
        height: 20px;
        background: url('../../../assets/document/download-fff.svg') no-repeat center;
        background-size: contain;
        margin-left: auto;
      }
    }
    @include document('-fff');
  }
}
.paragraph-layout.dark, .paragraph-layout.primary, .paragraph-layout.secondary {
  .paragraph--type--ino-pt-document {
    .field--name-field-media-file {
      @include document('');

      a {
        background: $background-variant;
        color: $onBackground-variant !important;

        &:after {
          background-image: url('../../../assets/document/download.svg');
        }
      }
    }
  }
}
