@use "sass:math";

.paragraph--type--ino-pt-quote {
    background-color: $primary;
    color: #fff;
    padding: $gutter;
    position: relative;

    @media (max-width: $md) {
        padding: math.div($gutter, 2) math.div($gutter, 2) $gutter*1.5;
    }

    p {
        margin-top: 0;
        font-style: italic;
    }

    .field--name-field-ph-quote-author {
        @include smallfont;
    }

    > a {
        position: absolute;
        bottom: 12px;
        right: 12px;
        @include smallfont;
        color: #fff;
        display: flex;
        align-items: center;
        text-decoration: none;

        &::after {
            content: "";
            display: inline-block;
            width: 30px;
            height: 30px;
            background: url(../../../assets/social/x.svg) no-repeat;
            background-size: contain;
            margin-left: 8px;
        }

        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}
