@use "sass:math";

.paragraph--type--ino-pt-cdtimer {
  padding-top: 2*$gutter;
  padding-bottom: 2*$gutter;
  /*default*/
  color: $onBackground;
  .paragraph--type--ino-pt-two-column &,
  .paragraph--type--ino-pt-three-column & {
    padding-top: math.div($gutter, 2);
    padding-bottom: math.div($gutter, 2);
  }
  .field--name-field-title {
    margin: 10px 0;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
  }
  .ino-countdown {
    text-align: center;
    .cdtimer {
      font-size: 2rem;
      font-weight: 700;
      text-align: center;
    }
    .cdcol {
      display: inline-block;
      position: relative;
      margin: 0 14px;
      text-align: center;
    }
    .unit {
      font-size: 8rem;
      line-height: 6rem;
      font-weight: 700;
      @media (max-width: $md) {
        font-size: 3rem !important;
        line-height: 3rem !important;
      }
    }
    .label {
      font-size: 1.6rem;
      font-weight: 700;
      @media (max-width: $md) {
        font-size: 1.2rem;
      }
    }
    .end-text {
      font-size: 1.8rem;
      font-weight: 700;
    }
    .cdtime-wrapper {
      display: inline-block;
      margin: 0;
      vertical-align: top;
    }
  }
  .cdtimer-bottom {
    display: block;
    margin-top: 10px;
    > div {
      display: inline-block;
    }
    .cdtimer-prefix,
    .cdtimer-suffix {
      font-weight: 700;
    }
  }
  .field--name-field-title {
    color: $onBackground;
  }
  /*primary*/
  .paragraph.primary & {
    color: $onPrimary;
    .field--name-field-title {
      color: $onPrimary;
    }
  }
  /*secondary*/
  .paragraph.secondary & {
    color: $onSecondary;
    .field--name-field-title {
      color: $onSecondary;
    }
  }
  /*dark*/
  .paragraph.dark & {
    color: $onDark;
    .field--name-field-title {
      color: $onDark;
    }
  }
  /*light*/
  .paragraph.light & {
    color: $onLight;
    .field--name-field-title {
      color: $onLight;
    }
  }
  /*in a 2 columns*/
  .paragraph--type--ino-pt-two-column & {
    .ino-countdown {
      .unit {
        font-size: 5rem;
        line-height: 5rem;
      }
    }
  }
  /*in a 3 columns*/
  .paragraph--type--ino-pt-three-column & {
    .ino-countdown {
      .unit {
        font-size: 3rem;
        line-height: 3rem;
      }
      .cdtimer-divider {
        top: 0.5rem;
      }
    }
  }
}
