
.paragraph--type--ino-pt-keym {
  padding: 24px;
  border: 3px solid $primary;
  border-radius: $radius;
  height: 100%;

  &.theme_color_1 { border-color: var(--theme_color_1); }
  &.theme_color_2 { border-color: var(--theme_color_2); }
  &.theme_color_3 { border-color: var(--theme_color_3); }
  &.theme_color_4 { border-color: var(--theme_color_4); }
  &.theme_color_5 { border-color: var(--theme_color_5); }
  &.theme_color_6 { border-color: var(--theme_color_6); }
  &.theme_color_7 { border-color: var(--theme_color_7); }
  &.theme_color_8 { border-color: var(--theme_color_8); }

  .paragraph-layout.primary & {
    color: $onPrimary;
  }
  .paragraph-layout.secondary & {
    color: $onSecondary;
  }
  .paragraph-layout.dark & {
    color: $onDark;
  }
  .field--name-field-title {
    margin: 0 0 24px;
    color: $onBackground;
    font-weight: 700;
    .paragraph-layout.primary & {
      color: $onPrimary;
    }
    .paragraph-layout.secondary & {
      color: $onSecondary;
    }
    .paragraph-layout.dark & {
      color: $onDark;
    }
  }
}
.field--name-field-ph-cdtimer-cdtime {
  text-align: center;
  > div {
    display: inline-block;
    float: none !important;
  }
}

//CIRCLE
.layout--ino-pt-keym-circle {
  text-align: center;
  .ino-circle-keym-canvas {
    width: 120px;
    height: 120px;
  }
  .ino-circle-keym {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    margin: auto;
  }
  .ino-circle-keym-label {
    position: absolute;
    max-width: 100%;
    color: $primary;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 700;
    text-align: center;
    text-align: center;
    .paragraph-layout.primary & {
      color: $onPrimary;
    }
    .paragraph-layout.secondary & {
      color: $onSecondary;
    }
    .paragraph-layout.dark & {
      color: $onDark;
    }
  }
  .field--name-field-media-image {
    display: inline-block;
    width: 32px;
    margin-bottom: 6px;
    img {
      width: 100%;
    }
  }
  .field--name-field-ph-keym-short-desc {
    margin-top: 10px;
  }
}

//BASIC
.layout--ino-pt-keym-basic {
  text-align: center;
  padding: 0 !important;
  .ino-pt-keym-amount {
    color: $primary;
    font-size: 7rem;
    font-weight: 700;
    margin: 10px 0 5px 0;
    opacity: 0;
    transition: all ease 500ms;

    .theme_color_1 & { color: var(--theme_color_1); }
    .theme_color_2 & { color: var(--theme_color_2); }
    .theme_color_3 & { color: var(--theme_color_3); }
    .theme_color_4 & { color: var(--theme_color_4); }
    .theme_color_5 & { color: var(--theme_color_5); }
    .theme_color_6 & { color: var(--theme_color_6); }
    .theme_color_7 & { color: var(--theme_color_7); }
    .theme_color_8 & { color: var(--theme_color_8); }

    .paragraph-layout.primary & {
      color: $onPrimary;
    }
    .paragraph-layout.secondary & {
      color: $onSecondary;
    }
    .paragraph-layout.dark & {
      color: $onDark;
    }
  }
  .ino-pt-keym-unit {
    display: block;
    margin: 0 4px;
    color: $primary;
    font-weight: 700;

    .theme_color_1 & { color: var(--theme_color_1); }
    .theme_color_2 & { color: var(--theme_color_2); }
    .theme_color_3 & { color: var(--theme_color_3); }
    .theme_color_4 & { color: var(--theme_color_4); }
    .theme_color_5 & { color: var(--theme_color_5); }
    .theme_color_6 & { color: var(--theme_color_6); }
    .theme_color_7 & { color: var(--theme_color_7); }
    .theme_color_8 & { color: var(--theme_color_8); }

    .paragraph-layout.primary & {
      color: $onPrimary;
    }
    .paragraph-layout.secondary & {
      color: $onSecondary;
    }
    .paragraph-layout.dark & {
      color: $onDark;
    }
  }
  .ino-pt-keym-amount-in-viewport {
    opacity: 1;
  }
  .field--name-field-media-image {
    display: inline-block;
    width: 32px;
    margin-bottom: 4px;
    img {
      width: 100%;
    }
  }
  .field--name-field-ph-keym-short-desc {
    margin-top: 10px;
  }
}

.paragraph--type--ino-pt-metrics-collection {
  .field--name-field-ph-metrics-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $gutter;

    > .field__item {
      flex: 1 0 250px;
      //margin-right: $gutter;
      &:last-child { margin: 0; }
    }
  }
}
