.paragraph--type--ino-pt-embed {
  .field--name-field-title {
    margin: 10px 0;
    font-size: 1.8rem;
    font-weight: 700;
    color: $onBackground;
  }
  .field--name-field-ph-embed-content iframe {
    aspect-ratio: 560 / 314;
    width: 100%;
  }
}
