@use "sass:math";

.paragraph--type--ino-pt-webform {
  padding-top: 2*$gutter;
  padding-bottom: 2*$gutter;
  .paragraph--type--ino-pt-two-column &,
  .paragraph--type--ino-pt-three-column & {
    padding-top: math.div($gutter, 2);
    padding-bottom: math.div($gutter, 2);
  }
  /*default*/
  color: $onBackground;
  label {color: $onBackground;}
  .button {@include btn-primary}
  /*primary*/
  .paragraph.primary & {
    color: $onPrimary;
    label {color: $onPrimary;}
    .button {@include btn-white}
  }
  /*secondary*/
  .paragraph.secondary & {
    color: $onSecondary;
    label {color: $onSecondary;}
    .button {@include btn-white}
  }
  /*dark*/
  .paragraph.dark & {
    color: $onDark;
    label {color: $onDark;}
    .button {@include btn-white}
  }
  /*light*/
  .paragraph.light & {
    color: $onLight;
    label {color: $onLight;}
    .button {@include btn-primary}
  }
}
