.paragraph--type--ino-pt-card {
  .paragraph + & {
    margin-top: $verticalGutter;
  }

  .card-wrapper {
    position: relative;
    border-radius: $radius;
    transition: all 0.3s ease;
    text-align: left;
    overflow: hidden;

    @media (max-width: $md) {
      height: auto !important;
    }

    h3 {
      font-size: $h3FontSize;
      line-height: 1.3;
      margin-bottom: 0;
      text-decoration: none !important;
    }

    .card-image {
      overflow: hidden;
      img {
        transition: all 0.3s ease;
        width: 100%;
        zoom: 1.5;
      }
    }

    a.card-link {
      text-decoration: none;

      &:hover {
        .card-image {
          img {
            transform: scale(1.05);
          }
        }
      }

      .card-title {
        text-decoration: none;
      }
    }

    .card-inner {
      padding: 24px 24px 1px 24px;
    } 

    .field--name-field-m-caption,
    .field--name-field-m-copyright {
      display: none;
    }
  }

  /*default*/
  .card-wrapper {
    background: transparent;
    .card-inner {
      padding: 24px 0 0 0;
      color: $dark;
      h1,h2,h3,h4,h5,h6,a {color: $dark;}
      blockquote {border-color: $dark;}
    }
  }
  &.nobackground {
    .paragraph--type--ino-pt-layout.dark & {
      .card-inner {
        color: $onDark;
        h1,h2,h3,h4,h5,h6,a {color: $onDark;}
        blockquote {border-color: $onDark;}
        .btn-secondary, .btn-primary {
          @include btn-white;
        }
      }
    }
    .paragraph--type--ino-pt-layout.primary & {
      .card-inner {
        color: $onPrimary;
        h1,h2,h3,h4,h5,h6,a {color: $onPrimary;}
        blockquote {border-color: $onPrimary;}
        .btn-secondary, .btn-primary {
          @include btn-white;
        }
      }
    }
    .paragraph--type--ino-pt-layout.secondary & {
      .card-inner {
        color: $onSecondary;
        h1,h2,h3,h4,h5,h6,a {color: $onSecondary;}
        blockquote {border-color: $onSecondary;}
        .btn-secondary, .btn-primary {
          @include btn-white;
        }
      }
    }
    .paragraph--type--ino-pt-layout.title-pt-background & {
      .card-inner {
        color: #fff;
        h1,h2,h3,h4,h5,h6,a {color: #fff;}
        padding: 24px 0 0 0;
      }
    }
  }


  /*white*/
  &.white {
    .card-wrapper {
      background: #fff;
      .card-inner {
        padding: 24px 24px 1px 24px;
        color: $dark;
        h1,h2,h3,h4,h5,h6,a {color: $dark;}
        blockquote {border-color: $dark !important;}
      }
    }

    .paragraph--type--ino-pt-layout.nobackground & {
      .card-inner {
        padding: 24px 0 0 0;
      }
    }

    .paragraph-layout.title-pt-background & {
      .card-wrapper {
        background: rgba(255,255,255,0.8);
        .card-inner {
          padding: 24px 24px 1px 24px;
        }
      }
    } 
  }
  /*primary*/
  &.primary {
    .card-wrapper {
      background: $primary;
      .card-inner {
        padding: 24px 24px 1px 24px;
        color: $onPrimary;
        h1,h2,h3,h4,h5,h6,a {color: $onPrimary;}
        blockquote {border-color: $onPrimary;}

        .btn-secondary, .btn-primary {
          @include btn-white;
        }
      }
    }

    .paragraph--type--ino-pt-layout.primary & {
      .card-inner {
        padding: 24px 0 0 0;
      }
    }
  }
  /*secondary*/
  &.secondary {
    .card-wrapper {
      background: $secondary;
      .card-inner {
        padding: 24px 24px 1px 24px;
        color: $onSecondary;
        h1,h2,h3,h4,h5,h6,a {color: $onSecondary;}
        blockquote {border-color: $onSecondary}

        .btn-secondary, .btn-primary {
          @include btn-white;
        }
      }
    }

    .paragraph--type--ino-pt-layout.secondary & {
      .card-inner {
        padding: 24px 0 0 0;
      }
    }
  }
  /*light*/
  &.light {
    .card-wrapper {
      background: $light;
      .card-inner {
        padding: 24px 24px 1px 24px;
        color: $onLight;
        h1,h2,h3,h4,h5,h6,a {color: $onLight;}
        blockquote {border-color: $onLight}
      }
    }

    .paragraph--type--ino-pt-layout.light & {
      .card-inner {
        padding: 24px 0 0 0;
      }
    }
  }
  /*dark*/
  &.dark {
    .card-wrapper {
      background: $dark;
      .card-inner {
        padding: 24px 24px 1px 24px;
        color: $onDark;
        h1,h2,h3,h4,h5,h6,a {color: $onDark;}
        blockquote {border-color: $onDark;}
      }

      .btn-secondary, .btn-primary {
        @include btn-white;
      }
    }

    .paragraph--type--ino-pt-layout.dark & {
      .card-inner {
        padding: 24px 0 0 0;
      }
    }
  }
}
