.paragraph--type--ino-pt-media {
  .paragraph-layout.dark &,
  .paragraph-layout.primary &,
  .paragraph-layout.secondary & {
    color: $onPrimary;
  }

  &.radius {
    img { border-radius: $radius; }
  }

  &.width-small {
    img, video, .media--type-remote-video {
      width: 33%;
      height: auto;
      @media(max-width:$lg) {
        width: 50%;
      }
      @media(max-width:$md) {
        width: 100%;
      }
    }
  }
  &.width-medium {
    img, video, .media--type-remote-video {
      width: 50%;
      height: auto;
      @media(max-width:$md) {
        width: 100%;
      }
    }
  }
  &.width-full {
    img, video, .media--type-remote-video {
      width: 100%;
      height: auto;
    }
  }
  .media--type-remote-video {
    &.media--view-mode-modal {
      position: relative;

      img {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        border-radius: 6px;
        cursor: pointer;
      }

      .field--name-field-media-oembed-video {
        position: absolute;
        top: 0px;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.5);

        .myButton {
          color: white;
          text-decoration: none;

          &:hover {
            color: white;
          }
        }
      }

      &::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        background: url(./../../../assets/media/play.webp) no-repeat center center;
        background-size: contain;
        width: 42px;
        height: 42px;
        z-index: 2;
        pointer-events: none;
        transition: all .3s ease;
      }

      &:hover {
        &::after {
          width: 50px;
          height: 50px;
        }
      }
    }

    &.media--view-mode-default {
      .field--name-field-media-oembed-video {
        position: relative;
        padding-bottom: 56.25%;
        iframe {
          position: absolute;
          left: 0px;
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .narrow .one-column & {
    //margin-left: -$gutter;
    //margin-right: -$gutter;

    @media(max-width:$md) {
      margin-left: 0;
      margin-right: 0;
    }
  }
}
