@use "sass:math";

.paragraph--type--ino-pt-block {
  padding-top: 2*$gutter;
  padding-bottom: 2*$gutter;
  .paragraph--type--ino-pt-two-column &,
  .paragraph--type--ino-pt-three-column & {
    padding-top: math.div($gutter, 2);
    padding-bottom: math.div($gutter, 2);
  }
  .item-list {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin: 10px 0;
        padding: 20px;
        border: none;
        border-radius: $radius;
        background: $background-variant;
      }
    }
    .views-field-title {
      margin: 10px 0;
      font-size: 1.8rem;
      font-weight: 700;
      color: $onBackground-variant;
    }
  }
}
