body:not(.user-logged-in) .node__content > .field--name-field-n-advtitle:first-child {
  margin-top: -40px;
  position: relative;
  z-index: -1;
}

.paragraph--type--ino-pt-title {
  overflow: hidden;
  .title-pt-background {
    display: flex;
    align-items: flex-end;
    position: relative;
    padding: 12rem 0 6rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media (max-width: $md) {
      padding: 5rem 0;
    }
  }

  .container {
    position: relative;
  }

  .title-pt-img {
    display: none;
  }
  .title-pt-wrapper {
    display: flex;
    position: relative;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .title-pt-title {
    margin: 0;
    padding: 0;
    .field--name-field-title {
      max-width: 650px;
      margin: 0;
      padding: 0;

      .paragraph--type--ino-pt-layout.title-pt-background & {
        color: #fff;
      }
    }
  }
  .title-pt-body {
    max-width: 650px;
    font-size: $fontSize;
    line-height: $lineHeight;
    @media (max-width: $md) {
      font-size: 2rem;
      line-height: 2.6rem;
    }

    p {
      font-size: 20px;
      line-height: 1.4;
      margin: 30px 0 0 0;
    }

    h3, h4, h5 {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    .btn-primary { 
      font-weight: 600 !important; 
    }
  }
  .btn a {
    @include btn-primary;
    font-weight: 500;
  }

  /*primary*/
  &.primary, .primary & {
    background: $primary;
    .title-pt-wrapper {
      color: $onPrimary;
      h1,h2,h3,h4,h5,h6,a,.field--name-field-title {color: $onPrimary !important;}
      blockquote {border-color: $onPrimary;}
      .btn a {@include btn-white;}
    }
  }
  /*secondary*/
  &.secondary, .secondary & {
    background: $secondary;
    .title-pt-wrapper {
      color: $onSecondary;
      h1,h2,h3,h4,h5,h6,a,.field--name-field-title {color: $onSecondary;}
      blockquote {border-color: $onSecondary;}
      .btn a {@include btn-white;}
    }
  }
  /*dark*/
  &.dark, .dark & {
    background: $dark;
    .title-pt-wrapper {
      color: $onDark;
      h1,h2,h3,h4,h5,h6,a,.field--name-field-title {color: $onDark;}
      blockquote {border-color: $onDark;}
      .btn a {@include btn-white;}
    }
  }
  /*light*/
  &.light, .light & {
    background: $light;
    .title-pt-wrapper {
      color: $onLight;
      h1,h2,h3,h4,h5,h6,a,.field--name-field-title {color: $onLight;}
      blockquote {border-color: $onLight;}
      .btn a {@include btn-primary;}
    }
  }

  &.without-image.nobackground {
    .title-pt-background {
      padding-top: 32px !important;
      padding-bottom: 12px;
    }
  }

  &.title-only.nobackground.without-image {
    .title-pt-background {
      padding-top: 32px !important;
      background: none;
    }
    .title-pt-wrapper {
      display: block;
      position: relative;
      height: auto;
    }

    .layout & .container {
      padding: 0;
    }

    .title-pt-title {
      margin: 0 0 2rem 0;
      padding: 0;
      .field--name-field-title {
        max-width: none;
        margin: 0;
        padding: 0;
      }
    }
  }

  &.imageheight {
    .title-pt-background {
      height: auto;
      min-height: 300px;
      padding: 0;
      @media (max-width: $md) {
        padding-top: 5rem;
        padding-bottom: 5rem;
      }
    }
    .title-pt-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .title-pt-img {
      display: block;
      visibility: hidden;
    }
  }
  /*with image*/
  .with-image.title-pt-wrapper {
    color: $onPrimary;
    h1,h2,h3,h4,h5,h6,a,.field--name-field-title {color: $onPrimary;}
    blockquote {border-color: $onPrimary;}
  }

  &.darkoverlay {
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,.6);
      z-index: 1;
    }
  }

  &.lightoverlay {
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255,255,255,.8);
      z-index: 1;
    }

    .with-image.title-pt-wrapper {
      color: $onBackground;
      h1,h2,h3,h4,h5,h6,a,.field--name-field-title {color: $onBackground;}
      blockquote {border-color: $onBackground;}
      .btn a {@include btn-primary;}
    }
  }

  &.align-center {
    .title-pt-background {
      text-align: center;
    }

    .title-pt-body {
      margin: auto;
    }

    .title-pt-title {
      .field--name-field-title {
        margin: 0 auto;
      }
    }

    &.title-only.nobackground {
      .title-pt-title {
        .field--name-field-title {
          margin: 0 auto;
        }
      }
    }
  }

  .title-pt-main-link {
    text-decoration: none;
  }

  &.sectionlink {
    .title-pt-main-link {

      .title-pt-title {
        color: $primary;
        &:hover {
          color: $dark;
        }

        display: flex;

        .copy-link {
          padding-left: 5px;
        }
      }

      div {
        color: $primary;
        font-weight: 700;

        &:hover {
          color: $dark;
        }

        &:after {
          content: ">";
          font-weight: 900;
          padding-left: 20px;
        }
      }
    }
  }

  @for $i from 1 through 15 {
    &.theme_color_#{$i} {
      background: var(--theme_color_ + #{$i});
      color: #fff !important;
      h1,h2,h3,h4,h5,h6,a,.field--name-field-title {color: #fff !important;}
    }
  }

  .icon-wrapper {
    img {
      width: 64px;
      height: 64px;
      margin-bottom: 20px;
    }
  }

  .icon-wrapper-watermark {
    width: 240px;
    height: 240px;
    position: absolute;
    bottom: -80px;
    right: 0;
    opacity: 0.1;
    pointer-events: none;
  }
}
