.paragraph--type--ino-pt-tab {
  .paragraph + & {
    margin-top: $verticalGutter;
  }

  .tab-container {
    margin: 0;
    padding: 0;
    border: none !important;
    border-radius: 0;
    background: none;
    font-family: $font;

    .ui-widget-header {
      border: none;
      background: none;
    }
    .ui-tabs-nav {
      margin: 0;
      padding: 0;
      border-radius: 0;
      border: 1px solid transparent;
      text-align: center;
      //white-space: nowrap;
      //overflow-x: auto;
      //overflow-y: hidden;
      li {
        position: relative;
        display: inline-block;
        float: none;
      }
    }
    .ui-tabs-tab {
      position: relative;
      display: inline-block;
      float: none;
      top: 6.5px !important;
      margin: 0 0.5rem !important;
      padding: 0 !important;
      background: none;
      border: none;
      border-radius: 0;
      a {
        font-size: $h4FontSize;
        position: relative;
        display: block;
        overflow: hidden;
        float: none !important;
        padding: 1.4rem 5rem 1rem 6.4rem !important;
        border: 1px solid transparent;
        border-radius: $radius $radius 0 0;
        font-weight: 400;
        background: $light;
        outline: none !important;
        span {
          display: inline-block;
          max-width: 220px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          &.copy-link {
            display: inline;
            opacity: 0;
            cursor: pointer;
          }
          &.show-link {
            opacity: 1;
          }
        }
      }
      &.ui-state-active a {
        &:before {
          content: "";
          position: absolute;
          top: -1px;
          left: -1px;
          right: -1px;
          height: 4px;
        }
      }
    }
    .ui-tabs-panel {
      padding: 20px 0;
    }
    /*default*/
    color: $onBackground;
    .ui-tabs-nav {border-bottom-color: $border;}
    .ui-tabs-tab {
      a {
        border-color: $border;
        color: $onBackground;
      }
      &.ui-state-active a {
        border-color: $secondary;
        background: $secondary;
        color: $onSecondary;
        &:before {
          background: $secondary;
        }
      }
    }
    /*primary + dark*/
    .paragraph.primary &,
    .paragraph.secondary &,
    .paragraph.dark & {
      color: $onDark;
      .ui-tabs-nav {border-bottom-color: $light;}
      .ui-tabs-tab {
        a {
          border-color: $light;
          color: $dark;
        }
        &.ui-state-active a {
          border-bottom-color: $background;
          background: $background;
          color: $onBackground;
          &:before {
            background: $background;
          }
        }
      }
    }
  }

  &.vertical {
    .tab-container {
      display: flex;

      .ui-tabs-nav {
        flex: 1 0 25%;
        display: flex;
        flex-direction: column;
        border: none;
      }

      .ui-tabs-tab {
        text-align: left;
        margin: 0 !important;
        padding: 0;
        top: 0px !important;

        a {
          padding: 12px 24px !important;
          border-radius: 0;
          border: none;
          border-top: 2px solid $secondary;
          border-left: 2px solid $secondary;
          overflow: visible;
          white-space: normal;

          &::before {
            display: none;
          }
        }

        &.ui-state-active a {
          border-color: $secondary !important;
          background: #fff;
          color: $primary;
        }

        &:first-child a {
          border-radius: $radius 0 0 0;
        }

        &:last-child a {
          border-radius: 0 0 0 $radius;
          border-bottom: 2px solid $secondary;
        }
      }

      .field--name-field-ph-tab-items {
        border: 2px solid $secondary;
        border-radius: 0 $radius $radius $radius;
        padding: 24px 24px 0 24px;
        min-width: 50%;

        p, h2, h3, h4 {
          &:first-child { margin-top: 0; }
        }
      }

      @media (max-width: $lg) {
        .ui-tabs-nav {
          flex: 1 0 40%;
        }
      }

      @media (max-width: $sm) {
        .ui-tabs-nav {
          flex: 1 0 25%;

          a {
            padding: 12px !important;
          }
        }
      }
    }
  }

  &.fixed {
    .field--name-field-ph-tab-items {
      height: 600px;
      overflow-y: scroll;

      @media (max-width: $sm) {
        height: 400px;
      }
    }
  }
}
