.paragraph--type--ino-pt-wysiwyg {
  p:first-of-type {
    margin-top: 0;
  }
  .paragraph--type--ino-pt-media + & {
    margin-top: $verticalGutter;
  }
  .text-formatted a {
    @include linkBlack;
    //color: $dark;
    //border-color: $dark;
  }
  /*primary*/
  .paragraph-layout.primary & {
    .text-formatted {
      color: $onPrimary;
      h1,h2,h3,h4,h5,h6 {color: $onPrimary;}
      blockquote {border-color: $onPrimary}
      .btn a {@include btn-white;}
      a {@include linkWhite;}
    }
  }
  /*secondary*/
  .paragraph-layout.secondary & {
    .text-formatted {
      color: $onSecondary;
      h1,h2,h3,h4,h5,h6 {color: $onSecondary;}
      blockquote {border-color: $onSecondary}
      .btn a {@include btn-white;}
      a {@include linkWhite;}
    }
  }
  /*dark*/
  .paragraph-layout.dark & {
    .text-formatted {
      color: $onDark;
      h1,h2,h3,h4,h5,h6 {color: $onDark;}
      blockquote {border-color: $onDark}
      .btn a {@include btn-white;}
      a {@include linkWhite;}
    }
  }
  /*light*/
  .paragraph-layout.light & {
    .text-formatted {
      color: $onLight;
      h1,h2,h3,h4,h5,h6 {color: $onLight;}
      blockquote {border-color: $onLight}
      .btn a {@include btn-primary;}
    }
  }
}
