/*dark toogle*/
@mixin toggleBlack {
  width: 40px;
  height: 40px;
  padding: 0;
  text-indent: -9999rem;
  border: none;
  background: url('../../../assets/disclaimer/arrow.svg') no-repeat center;
  background-size: 16px;
  transform: rotate(90deg);
  transition: all ease 200ms;
  outline: none;
}

/*white toogle*/
@mixin toggleWhite {
  width: 40px;
  height: 40px;
  padding: 0;
  text-indent: -9999rem;
  border: none;
  background: url('../../../assets/disclaimer/arrow-fff.svg') no-repeat center;
  background-size: 16px;
  transform: rotate(90deg);
  transition: all ease 200ms;
  outline: none;
}

.paragraph--type--ino-pt-disclaimer {
  padding: 2rem 1rem 2rem 2.4rem;
  background: $info;
  color: $onInfo;
  border-radius: $radius;
  .disclaimer {
    display: block !important;
    .disclaimer-description {
      display: none;
      padding: 15px 0 0;
      a {@include linkBlack;}
    }
    &.show {
      .disclaimer-description {
        display: block;
      }
      .disclaimer-toggle {
        transform: rotate(180deg);
      }
    }
  }
  p {
    margin: 0;
    padding: 0;
  }
  .disclaimer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .disclaimer-toggle {
    @include toggleWhite;
  }
  .disclaimer-btn {
    @include btn-white;
    margin-top: 25px;
  }
  /*light*/
  &.light {
    padding: 5px 10px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    @media (max-width: $md) {
      padding: 5px;
    }
    .field--name-field-title {
      font-size: 1.6rem;
    }
  }
  /*info*/
  &.info {
    background: $info;
    color: $onInfo;
    .disclaimer-toggle {@include toggleWhite;}
    h1,h2,h3,h4,h5,h6 {color: $onPrimary;}
    blockquote {border-color: $onPrimary}
    .disclaimer-btn {@include btn-white;}
    .disclaimer-description a {@include linkWhite;}
  }
  &.danger {
    background: $danger;
    color: $onDanger;
    .disclaimer-toggle {@include toggleWhite;}
    h1,h2,h3,h4,h5,h6 {color: $onPrimary;}
    blockquote {border-color: $onPrimary}
    .disclaimer-btn {@include btn-white;}
    .disclaimer-description a {@include linkWhite;}
  }
  &.warning {
    background: $warning;
    color: $onWarning;
    .disclaimer-toggle {@include toggleWhite;}
    h1,h2,h3,h4,h5,h6 {color: $onPrimary;}
    blockquote {border-color: $onPrimary}
    .disclaimer-btn {@include btn-white;}
    .disclaimer-description a {@include linkWhite;}
  }
  &.success {
    background: $success;
    color: $onSuccess;
    .disclaimer-toggle {@include toggleWhite;}
    h1,h2,h3,h4,h5,h6 {color: $onPrimary;}
    blockquote {border-color: $onPrimary}
    .disclaimer-btn {@include btn-white;}
    .disclaimer-description a {@include linkWhite;}
  }
  &.primary {
    background: $primary;
    color: $onPrimary;
    .disclaimer-toggle {@include toggleWhite;}
    h1,h2,h3,h4,h5,h6 {color: $onPrimary;}
    blockquote {border-color: $onPrimary}
    .disclaimer-btn {@include btn-white;}
    .disclaimer-description a {@include linkWhite;}
  }
  &.secondary {
    background: $secondary;
    color: $onSecondary;
    .disclaimer-toggle {@include toggleWhite;}
    h1,h2,h3,h4,h5,h6 {color: $onPrimary;}
    blockquote {border-color: $onPrimary}
    .disclaimer-btn {@include btn-white;}
    .disclaimer-description a {@include linkWhite;}
  }
  &.dark {
    background: $dark;
    color: $onDark;
    .disclaimer-toggle {@include toggleWhite;}
    h1,h2,h3,h4,h5,h6 {color: $onPrimary;}
    blockquote {border-color: $onPrimary}
    .disclaimer-btn {@include btn-white;}
    .disclaimer-description a {@include linkWhite;}
  }
  &.light {
    background: $light;
    color: $onLight;
    .disclaimer-toggle {@include toggleBlack;}
    h1,h2,h3,h4,h5,h6,a {color: $onPrimary;}
    blockquote {border-color: $onPrimary}
    .disclaimer-btn {@include btn-primary;}
  }
  &.archive {
    background: $archive;
    color: $onArchive;
    .disclaimer-toggle {@include toggleBlack;}
    h1,h2,h3,h4,h5,h6,a {color: $onArchive;}
    blockquote {border-color: $onArchive}
    .disclaimer-btn {@include btn-primary;}
    .disclaimer-btn:hover {
      color: $primary !important;
    }
    .field--name-field-title {
      font-weight: bold;
    }
  }
}
