.paragraph--type--ino-pt-gallery {
  .field--name-field-title {
    margin: 10px 0;
    color: $onBackground;
    font-weight: 700;
  }
  img {width: 100%;}
  .media--type-icon {
    text-align: center;
    img {
      height: 180px;
      width: 180px;
    }
  }
  figcaption {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(#000, 0.5);
    color: #FFF;
    font-size: 3rem;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    transition: all ease 300ms;
  }
  .galleria {
    width: 100%;
    max-width: 700px;
    height: 400px;
  }
  &.pt-align-left {
    .galleria {
      margin-right: auto;
    }
  }
  &.pt-align-center {
    .galleria {
      margin: auto;
    }
  }
  &.pt-align-right {
    .galleria {
      margin-left: auto;
    }
  }

  .view-display-id-ino_pt_gallery_gallery .view-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: $gutter;

    .views-row {
      flex: 1 0 250px;

      figcaption {
        color: $onBackground;
        font-size: $fontSize;
        line-height: $lineHeight;
        opacity: 1;
        visibility: visible;
        position: relative;
        justify-content: center;
        align-items: center;
        background: transparent;
        font-weight: 700;
        font-style: normal;
        text-align: center;
        transition: all ease 300ms;
        margin-top: 20px;
      }
    }

  }
}
