.paragraph--type--ino-pt-list-auto,
.paragraph--type--ino-pt-list-pick {

  .view-content,
  .field--name-field-ph-listp-contents {
    @include list-grid(3,2);

    @media (max-width: $sm) {
      .views-row {
        width: 100%;
      }
    }
  }

  .field--name-field-ph-lista-list .views-element-container a {
    text-decoration: none;
  }

  .title-line {
    display: flex;
    align-items: center;

    .field--name-field-title {
      font-size: $h2FontSize;
      font-weight: 600;
      margin-bottom: $verticalGutter;
      line-height: 1.1;
    }
  }

  nav {
    grid-column: 1 / 4;
  }
}
.tagged-selects .chosen-container {
    min-width: 400px;
}

.paragraph--type--ino-pt-layout.secondary {
    .paragraph--type--ino-pt-list-auto,
    .paragraph--type--ino-pt-list-pick {
        .title-line {
            color: white;
        }
    }
}

.paragraph--type--ino-pt-list-pick.view-mode-title {
  .field--name-field-ph-listp-contents {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  article {
    width: 100%;
    a {
      border-bottom: 3px solid $dark;
      color: black;
      display: block;
      font-size: 22px;
      margin-bottom: 17px;
      padding-bottom: 5px;
      text-decoration: none;
      position: relative;
      font-weight: bold;

      &:last-child {
        margin-bottom: 0;
      }

      @media (max-width: $md) {
        font-size: 16px;
      }

      &:hover {
        color: black;
      }

      span {
        padding-left: 30px;

        @media (max-width: $md) {
          padding-left: 20px;
        }
      }

      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 5px;
        width: 24px;
        height: 24px;
        background: url(../../../assets/breadcrumb/arrow.svg) no-repeat;
        background-size: 24px 24px;

        @media (max-width: $sm) {
          bottom: 1px;
        }

        @media (max-width: $md) {
          width: 15px;
          background-size: 15px;
        }
      }
    }
  }
}
