.field--name-field-ph-acc-items {
  .field__item + .field__item {
    margin: 8px 0;
  }
}

.paragraph--type--ino-pt-accitem {
  .ui-accordion-content {
    .paragraph {
      padding-top: 0;
      padding-bottom: 0;
    }
    .paragraph-layout {
      padding-top: 0;
      padding-bottom: 2px;
      &.dark,
      &.light,
      &.primary,
      &.secondary {
        padding-left: 24px;
        padding-right: 24px;
      }
    }
    .field--name-field-title {
      margin-bottom: 1rem;
      margin-top: 0;
    }
    a {
      color: $link;
      &:hover, &:focus {
        color: $link-variant;
      }
    }
  }

  /*primary + dark*/
  .paragraph.primary &,
  .paragraph.secondary &,
  .paragraph.dark & {
    .ui-accordion-header {
      background: $background;
      color: $onBackground;
      &:hover, &:focus {
        background: $background-variant;
      }
    }
    .ui-accordion-header-icon {
      background-image: url('../../../assets/accitem/arrow.svg');
    }
    .ui-accordion-header.ui-state-active {
      background: $background-variant;
      color: $onLight;
    }
    .ui-accordion-content {
      .text-formatted {
        color: #111;
      }
    }
  }
}
