@use "sass:math";

.paragraph-layout {

  .layout {
    @include container;

    .col-12 + .col-12 {
      @media(max-width:$md) {
       margin-top: math.div($verticalGutter, 2);
      }
    }
  }

  &.equalize {
    .paragraph--type--ino-pt-action-card, 
    .paragraph--type--ino-pt-card {
      height: 100%;

      .card-wrapper { 
        height: 100%; 
      
        .card-link,
        .card-inner {
          height: 100%; 
        }
      }
    }
  }

  &.title-pt-background {
    background-size: cover;
    position: relative;
    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0,0,0,.6);
      z-index: 0;
    }

    .layout {
      position: relative;
      z-index: 1;
    }

    .layout-pt-img {
      display: none;
    }
  }

  &.narrow {
    .layout {
      max-width: $narrow;
    }
  }

  /*primary*/
  &.primary {
    background: $primary;
    .paragraph-layout & {
      padding-left: $gutter;
      padding-right: $gutter;
    }
  }
  /*secondary*/
  &.secondary {
    background: $secondary;
    .paragraph-layout & {
      padding-left: $gutter;
      padding-right: $gutter;
    }
  }
  /*light*/
  &.light {
    background: $light;
    .paragraph-layout & {
      padding-left: $gutter;
      padding-right: $gutter;
    }
  }
  /*dark*/
  &.dark {
    background: $dark;
    .paragraph-layout & {
      padding-left: $gutter;
      padding-right: $gutter;
    }
  }
  /*spacing*/
  &.bottom-no-spacing, &.top-no-spacing {
    padding-bottom: 0;
  }
  &.bottom-spacing-small {
    padding-bottom: $verticalGutter;
  }
  &.bottom-spacing-medium {
    padding-bottom: $verticalGutter*2;
  }
  &.bottom-spacing-large {
    padding-bottom: $verticalGutter*3;
    @media (max-width: $md) {
      padding-bottom: $verticalGutter*2;
    }
  }
  &.top-spacing-small {
    padding-top: $verticalGutter;
  }
  &.top-spacing-medium {
    padding-top: $verticalGutter*2;
  }
  &.top-spacing-large {
    padding-top: $verticalGutter*3;
    @media (max-width: $md) {
      padding-top: $verticalGutter*2;
    }
  }
}

.field--type-text-long {
  p.highlight {
    padding: 15px;
    background: $primary;
    color: $onPrimary;
    a {
      color: $onPrimary;
    }
  }
  p.intro {
    font-weight: bold;
  }
}

.layout.three-column-bricks,
.layout.two-column-bricks {
  .row-top {
    margin-bottom: $verticalGutter;

    h2 { margin-bottom: 0; }
    h2 + p {
      margin-bottom: 0;
      margin-top: 16px;
    }
  }

  .paragraph--type--ino-pt-wysiwyg {
    max-width: 800px;
  }
}