{{ attach_library('ino_pt_disclaimer/disclaimer') }}

{%
  set main_classes = [
  'disclaimer',
]
%}

<div {{ attributes.addClass(main_classes) }} data-pid="{{ pid }}">
  <div class="disclaimer-wrapper">
    <div class="disclaimer-content">
      <div class="disclaimer-header">
        <div class="disclaimer-title">{{ content.field_title }}</div>
        <button class="disclaimer-toggle"></div>
      </div>
      <div class="disclaimer-description">
        <div class="disclaimer-body">{{ content.field_ph_disclaimer_body }}</div>
        <button class="disclaimer-btn">{{ content.field_ph_disclaimer_close }}</button>
      </div>
      {% if has_popup == "1" %}
        <div class="disclaimer-confirmation-popup">
          <div class="disclaimer-popup-title">
            {{ content.field_ph_disclaimer_popup_title }}
          </div>
          <div class="disclaimer-popup-content">
            {{ content.field_ph_disclaimer_popup_text }}
            <button class="disclaimer-popup-btn">{{ content.field_ph_disclaimer_popup_button }}</button>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</div>
