{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

{{ attach_library('ino_pt_title/ino_title') }}
{{ attach_library('ino_pt_title/ino_bg_responsive') }}

{% if content.field_ph_title_body|render is empty and content.field_ph_title_bgm|render is empty %}
  {% set classes = classes|merge(['title-only']) %}
{% endif %}

{% set title_pt_bgm = content.field_ph_title_bgm|render|striptags|trim|replace({'&amp;': '&'}) %}
{% if title_pt_bgm is empty %}
  {% set classes = classes|merge(['without-image']) %}
{% endif %}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    {% block content %}
    {% if title_pt_bgm is not empty %}
    <div class="title-pt-background" style="background-image:url({{ paragraph.field_ph_title_bgm|file_uri|image_style('title_pt_background_small') }});">
      {% set image_attributes = {class: 'title-pt-img', loading: 'eager'} %}
      {{ drupal_image(paragraph.field_ph_title_bgm|file_uri, 'title_background', attributes=image_attributes, responsive=true) }}
    {% else %}
    <div class="title-pt-background">
    {% endif %}
        {{ content.contextual_links }}
        {% if title_pt_bgm is not empty %}
        <div class="title-pt-wrapper with-image">
        {% else %}
        <div class="title-pt-wrapper">
        {% endif %}
          <div class="container">
            {% set heading_tag = content.field_ph_title_heading|render|striptags|trim %}
            {% if heading_tag is empty %}
              {% set heading_tag = 'h2' %}
            {% endif %}
            {% set title_link = paragraph.field_ph_title_link.0.url %}
            {% if title_link is not empty %}
              {% set processed_title = content.field_title|render|striptags|trim|replace({'(': '', ')': '', ' ': '-'})|lower|url_encode %}
              <a id="{{ processed_title }}" class="title-pt-main-link" href="{{ title_link }}">
            {% endif %}
            <{{ heading_tag }} class="title-pt-title">{{ content.field_title }}</{{ heading_tag }}>
            {% if title_link is not empty %}
              </a>
            {% endif %}
            <div class="title-pt-body">{{ content.field_ph_title_body }}</div>
          </div>
        </div>
    </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
