{% set background_uri = paragraph.field_ph_layout_bgm|file_uri %}
{% set background_style = background_uri ? background_uri|image_style('title_pt_background_small') : null %}

{%
  set classes = [
    'paragraph',
    'paragraph-layout',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    background_uri ? 'title-pt-background'
  ]
%}

{{ attach_library('ino_pt_title/ino_bg_responsive') }}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}{% if background_style %} style="background-image: url('{{ background_style }}');"{% endif %}>
    {% if background_uri %}
      {% set image_attributes = {class: 'layout-pt-img', loading: 'eager'} %}
      {{ drupal_image(background_uri, 'title_background', attributes=image_attributes, responsive=true) }}
    {% endif %}
    {% block content %}
      {{ content }}
    {% endblock %}
  </div>
{% endblock paragraph %}
