<form action="{{ mailchimp_action }}" class="validate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
  <div class="form-title">
    {{ "Subscribe to Our Newsletter"|t }}
  </div>
  <div class="mc-field-group">
    <input class="required email" id="mce-EMAIL" name="EMAIL" type="email" value="" placeholder="Email Address *">
  </div>
  <div class="clear" id="mce-responses">
    <div class="response" id="mce-error-response" style="display:none">&nbsp;</div>
    <div class="response" id="mce-success-response" style="display:none">&nbsp;</div>
  </div>
  <div id="footer-blue-block-subscribe">
    <input class="btn-secondary" id="mc-embedded-subscribe" name="subscribe" type="submit" value="{{ 'Subscribe'|t }}">
  </div>
</form>
