<div {{ attributes }}>
  {% if level == 1 %}
    <div class="tb-dropdown-inner">
      <div class="tb-row">
        <div class="menu-content">
          {# Extract the Node ID from the route_parameters #}
          {% set nid = parent.link.getRouteParameters()['node'] %}
          {% if nid %}
            {{ drupal_entity('node', nid, 'card_menu') }}
          {% endif %}
        </div>
        <div class="main-submenu">
          {% for row in rows %}
            {{ row }}
          {% endfor %}
        </div>
      </div>
    </div>
  {% else %}
    {% for row in rows %}
      {{ row }}
    {% endfor %}
  {% endif %}
</div>
