{{ attach_library('ino_pt_tab/ino_tabs') }}

{%
  set classes = [
  'paragraph',
  'paragraph--type--' ~ paragraph.bundle|clean_class,
  view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
  not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="tab-container">
      {% set tabItems = content.field_ph_tab_items['#items'] %}
      {% if tabItems|length %}
        <ul>
          {% for item in tabItems %}
            {% set tabParagraph = item.entity %}
            <li>
              {% set title = tabParagraph|translation.field_title.value %}
              {% set id_value = title %}
              {% if tabParagraph.field_ph_hash.value is not empty %}
                {% set id_value = tabParagraph.field_ph_hash.value %}
              {% endif %}

              {% set processed_id = id_value|lower
                |replace({' ': '-', '(': '', ')': '', '<': '', '>': '', ';': '', '{': '', '}': ''})
                |url_encode %}
              <a href="#{{ processed_id }}">
                {{ tabParagraph|translation.field_title.value }}
                <span class="copy-link">¶</span>
              </a>
            </li>
          {% endfor %}
        </ul>
        {{ content }}
      {% endif %}
    </div>
  </div>
{% endblock paragraph %}
