<div class="ino-header">
  <div class="header-top">
      <div class="container">
      {# parameters: string $menu_name, int $level = 1, int $depth = 0, bool $expand = FALSE #}
      {{ drupal_menu('top-menu', 1, 1, FALSE) }}
      <div class="language-switcher-language-url block block-language block-language-blocklanguage-interface">
        {{ language_switcher }}
      </div>

      <div class="site-switcher">
        <details class="dropdown">
          <summary role="button" aria-label="Site switcher">
          </summary>
          {{ links }}
        </details>
      </div>

      </div>
  </div>

  <div class="header-bottom container">
    {% if logo %}
      <div class="site-branding__logo">
        <a href="{{ logo_url }}" aria-label="Site logo">{{ logo }}</a>
      </div>
    {% else %}
      <a href="{{ logo_url }}" aria-label="Site logo" class="logo"></a>
    {% endif %}

    <div class="header-menu-wrapper">
      {{ drupal_block('tb_megamenu_menu_block:main') }}

      <div class="search"><a aria-label="Site search" href="{{ path('view.main_search.page_1') }}"></a></div>
    </div>
  </div>
</div>
