{%
  set classes = [
    'layout',
    'ino-one-third',
    'one-third'
  ]
%}
{% if content %}
  <div {{ attributes.addClass(classes) }}>
    <div class="row">
    {% if content.left %}
      <div {{ region_attributes.left.addClass('layout__region', 'left-region', 'col-12', 'col-md-4') }}>
        {{ content.left }}
      </div>
    {% endif %}
    {% if content.right %}
      <div {{ region_attributes.right.addClass('layout__region', 'right-region', 'col-12', 'col-md-8') }}>
        {{ content.right }}
      </div>
    {% endif %}
    </div>
  </div>
{% endif %}
