{%
  set classes = [
    'layout',
    'ino-one-column',
    'one-column'
  ]
%}
{% if content %}
  <div {{ attributes.addClass(classes) }}>
  {% if content.main %}
    <div {{ region_attributes.main.addClass('layout__region', 'content-region') }}>
      {{ content.main }}
    </div>
  {% endif %}
  </div>
{% endif %}
