{%
  set classes = [
    'layout',
    'ino-three-column-bricks',
    'three-column-bricks'
  ]
%}
{% if content %}
  <div {{ attributes.addClass(classes) }}>
    <div class="row row-top">
    {% if content.top %}
      <div {{ region_attributes.top.addClass('layout__region', 'top-region', 'col-12', 'col-md-12') }}>
        {{ content.top }}
      </div>
    {% endif %}
    </div>
    <div class="row row-middle">
    {% if content.left %}
      <div {{ region_attributes.left.addClass('layout__region', 'left-region', 'col-12', 'col-lg-4') }}>
        {{ content.left }}
      </div>
    {% endif %}
    {% if content.middle %}
      <div {{ region_attributes.middle.addClass('layout__region', 'middle-region', 'col-12', 'col-lg-4') }}>
        {{ content.middle }}
      </div>
    {% endif %}
    {% if content.right %}
      <div {{ region_attributes.right.addClass('layout__region', 'right-region', 'col-12', 'col-lg-4') }}>
        {{ content.right }}
      </div>
    {% endif %}
    </div>
  </div>
{% endif %}
