.ck-content blockquote {
  margin: 1rem 0;
  padding: 0 0 0 2rem;
  border-left: 3px solid #222;
}
.ck-content p.intro {
  font-weight: bold;
}
.ck-content p.highlight {
  padding: 15px;
  background: #728251;
  color: white;
}
.ck-content p.highlight a {
  color: white;
}

.ck-editor__main .ck-content a {
  border-bottom: 1px solid var(--dark);
  color: var(--dark);
  text-decoration: none;
  transition: all ease 300ms;
}

.ck-editor__main .ck-content a:hover {
  color: var(--primary);
  text-decoration: none;
  border-color: var(--primary);
}

.ck-content .btn-primary {
  display: inline-block;
  min-width: 100px;
  height: 43px;
  line-height: 40px;
  padding: 0 24px;
  border: 2px solid var(--primary) !important;
  border-radius: 6px;
  background: var(--primary);
  color: #FFF !important;
  box-shadow: none;
  text-shadow: none;
  text-decoration: none;
  font-size: 17px !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.ck-content .btn-primary:hover {
  opacity: 0.9;
  color: #FFF !important;
}

.ck-content .btn-secondary {
  display: inline-block;
  height: 43px;
  line-height: 40px;
  padding: 0 24px;
  border-radius: 6px;
  background: var(--secondary);
  font-size: 17px !important;
  text-transform: uppercase;
  color: #FFF !important;
  text-decoration: none;
  font-weight: 700 !important;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.ck-content .btn-secondary:hover {
  opacity: 0.9;
  color: #FFF !important;
}

.ck-content .btn-tertiary {
  display: inline-block;
  height: 43px;
  line-height: 40px;
  padding: 0 24px;
  border-radius: 6px;
  border: 2px solid var(--dark) !important;
  background: var(--dark);
  font-size: 17px !important;
  text-transform: uppercase;
  color: #FFF !important;
  text-decoration: none;
  font-weight: 700 !important;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.ck-content .btn-tertiary:hover {
  opacity: 0.9;
  color: #FFF !important;
}

.ck-content .btn-icon-file {
  background-image: url(../assets/document/types/file-fff.svg), url(../assets/document/download-fff.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 16px, right 16px center;
  background-size: 18px, 18px;
  padding-left: 52px;
  padding-right: 54px;
}
.ck-content .btn-icon-pdf {
  background-image: url(../assets/document/types/pdf-fff.svg), url(../assets/document/download-fff.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 16px, right 16px center;
  background-size: 18px, 18px;
  padding-left: 52px;
  padding-right: 54px;
}
.ck-content .btn-icon-zip {
  background-image: url(../assets/document/types/zip-fff.svg), url(../assets/document/download-fff.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: 16px, right 16px center;
  background-size: 18px, 18px;
  padding-left: 52px;
  padding-right: 54px;
}
.ck-content .btn-icon-chevron {
  background-image: url(../assets/chevron-right-white.svg);
  background-repeat: no-repeat;
  background-size: 10px;
  padding-left: 24px;
  padding-right: 52px;
  background-position: right 16px center;
}
.ck-content .btn-icon-download {
  background-image: url(../assets/document/download-fff.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  padding-left: 24px;
  padding-right: 52px;
  background-position: right 16px center;
}
