.node--view-mode-card {
  a.card-link {
    text-decoration: none;

    .card-title {
        text-decoration: none;
    }

    &:hover {
      color: inherit !important;

      img {
        transform: scale(1.05);
      }

      .card-title {
          opacity: 0.7;
      }

      .field--name-field-n-teaser-description {
        opacity: 0.7;
      }
    }
  }

  .card-wrapper {
    border-radius: $radius;
    border: 3px solid $primary;
    background: $light;
    text-align: left;
    overflow: hidden;
    @media (max-width: $md) {
      height: auto !important;
    }

    .card-image-background {
      transition: all 0.3s ease;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        transition: all .3s ease;
      }
    }

    .card-footer {
      display: flex;
      align-items: flex-end;
      padding: 0 24px 24px;
      max-height: 65px;

      .tags {
        overflow: visible;
      }

      .meta {
        font-size: 14px;
        line-height: 1.3;
        text-align: right;
        text-transform: uppercase;

        .date {
          font-weight: bold;
        }
      }
    }

    .card-title {
      padding: 24px;
      font-size: $h3FontSize;
      font-weight: 700;
      transition: all .3s ease;
      margin-bottom: 0;
      @media (max-width: $sm) {
        height: auto;
      }

      a {
        text-decoration: none;

        &:hover {
          color: $primary;
        }
      }
    }

    .card-body {
      h1, h2, h3, h4 {
        font-size: $fontSize;
        font-weight: bold;
        margin: 0 0 5px 0;
        line-height: $lineHeight;
        @media screen and (max-width: $sm) {
            @include smallfont;
            font-weight: bold;
        }
      }

      p {
        margin-top: 0;
      }
    }

    .field--name-field-m-caption,
    .field--name-field-m-copyright {
      display: none;
    }
  }
}
