.path-frontpage {

    .paragraph--type--ino-pt-title {
      .title-pt-title {
        .field--name-field-title,
        .title-pt-body {
          max-width: 600px;
        }
      }
    }
  
    .title-pt-background {
      padding: 18rem 0 18rem;
    }
  }
  
  .path-frontpage {
      .breadcrumb {
          display: none;
      }
  }