@use "sass:math";

.node--type-event {
  &.node--view-mode-full {
    margin: $verticalGutter auto $verticalGutter * 2;

    @include container;

    .mobile-title {
        display: none;
    }

    .field--name-field-event-hero-image {
      img {
        border-radius: $radius;
      }
    }

    @media (max-width: $lg) {
        .mobile-title {
            display: block;
        }

        .desktop-title {
            display: none;
        }
    }

    .field--name-field-event-description {
      margin-bottom: $verticalGutter;
    }

    .field--name-field-event-document {
      margin-bottom: $verticalGutter;
      .field {
        @include document-field;

        a::after { display: none !important; }
      }
    }

    .event-meta {
      display: flex;
      align-items: center;
      margin: 0 0 24px;
      @media (max-width: $md) {
        flex-direction: column;
        align-items: baseline;
      }

      .field {
        margin-right: $gutter;
        @media (max-width: $md) {
          margin-bottom: 20px;
        }
      }

      a.register {
        @include btn-dark;
      }

      .field--name-field-event-status {
        color: $primary;
      }
    }

    .event-extra-info {
      background: $light;
      padding: 18px 24px;
      border-radius: $radius;
      margin-bottom: $verticalGutter;

      .time-part, .time-rest {
        display: flex;
      }

      @media (max-width: $xl) {
        .field-template-time .field-value {
          flex-wrap: wrap;
          .main-separator {
            display: none;
          }
          .time-rest {
            padding-left: 12px;
          }
        }

      }

      .separator {
        margin-left: 10px;
        margin-right: 10px;
      }

      a {

        &:hover {
          text-decoration: none;
        }
      }

      .field-value {
        &::before {
          content: "";
          display: inline-block;
          width: 12px;
        }
      }

      > .field {
        padding: 5px 0;

        .field-label {
          display: flex;
          align-items: center;
        }
      }
    }

    .field-label {
      float: left;
    }

    .field-value {
      font-weight: 500;
      display: flex;

      div {
        margin-right: 8px;
      }
    }
  }

  &.node--view-mode-card {
    .card-wrapper {
      border: none;
      background: transparent;

      .placeholder {
        display: none;
      }

      .card-image-background {
        border-radius: $radius;
      }

      .field--name-field-n-teaser-description {
        padding: 10px 10px;
        display: none;
      }

      .card-title {
        font-weight: 500;
        padding: 10px 10px 0;
      }
    }

    &.without-image {
      .placeholder {
        display: block;
        height: 250px;
        padding-bottom: 0;
        border-radius: $radius;
      }

    }

    .category-wrapper {
      position: relative;
      margin-left: 12px;
      margin-top: -27.5px;
      z-index: 2;
    }

    .category {
      display: inline;
      padding: 3px 10px;
      background: $primary;
      color: $onPrimary;
    }

    .date {
      font-weight: 300;
      margin-left: 10px;
      margin-top: 4px;
    }
  }


  &.node--view-mode-teaser {
    .teaser-wrapper {
      display: flex;
      align-items: flex-start;
      border-radius: $radius;
      text-align: left;
      overflow: hidden;
      margin-bottom: $verticalGutter;

      @media (max-width: $md) {
        height: auto !important;
        flex-direction: column;
      }

      .teaser-image {
        flex: 0 0 330px;
        text-align: center;
        overflow: hidden;
        border-radius: $radius;
        border: 3px solid $secondary;
        @media (max-width: $md) {
            flex: 1;
            width: 100%;
          }

        a {
          &:hover {
            img {
              transform: scale(1.05);
            }
          }
        }

        img {
          width: 100%;
          height: auto;
          transition: all .3s ease;
        }
      }

      .teaser-inner {
        padding: 0 math.div($gutter, 2);
        @media (max-width: $md) {
            padding: math.div($gutter, 2) 0;
        }

        .teaser-body {
            h2, h3 {
                display: none;
            }
        }

        .teaser-footer {
          display: flex;
          align-items: center;
          margin-top: 5px;

          .meta {
            display: flex;
            font-size: 14px;
            align-items: center;
            line-height: 1.3;
            text-align: left;
            text-transform: uppercase;

            .date {
              font-weight: bold;
              line-height: 1.3;
              margin-left: math.div($gutter, 2);
            }

            .category {
                display: flex;
                align-items: center;
            }
          }
        }
      }
      .teaser-title {
        margin: 0 0 20px;
        font-size: $h3FontSize;
        font-weight: 700;

        a {
          text-decoration: none;

          &:hover {
            color: $primary;
          }
        }
      }
      .field--name-field-m-caption,
      .field--name-field-m-copyright {
        display: none;
      }
    }
    /*default*/
    .teaser-wrapper {
      .teaser-inner {
        color: $onBackground;
        h1,h2,h3,h4,h5,h6,a {color: $onBackground;}
        blockquote {border-color: $onBackground}
        .teaser-link a { @include btn-link; }
      }
    }
  }
}
