@use "sass:math";

.node--type-ino-news {
  &.node--view-mode-full {
    margin-bottom: $verticalGutter;

    .paragraph--type--ino-pt-title.noimage {
      max-width: $narrow;
      margin-left: auto;
      margin-right: auto;

      .title-pt-title {
        margin-bottom: 0;
      }
    }

    .related-share {
      @include container;

      & {
        max-width: $narrow;
        padding-top: $verticalGutter;
        display: flex;
        align-items: stretch;
        gap: $gutter;
      }

      @media (max-width: $sm) {
        flex-direction: column;
      }

      .share {
        flex: 1;
        display: flex;
        background-color: rgba(0,0,0,.02);
        padding: 24px;
        border-radius: $radius;

        &.centered {
          justify-content: center;
        }

        .share-text {
          @include smallfont;

          & {
            color: #aaa;
            line-height: 40px;
            margin-right: 10px;
            text-wrap: nowrap;
          }
        }
      }

      .related-links-wrapper {
        flex: 2;
        background-color: rgba(0,0,0,.02);
        padding: 24px;
        border-radius: $radius;

        h4 {
          font-size: 2.2rem;
          font-weight: normal;
          margin-bottom: 20px;

          @media (max-width: $sm) {
            font-size: 16px;
          }
        }

        a {
          border-bottom: 3px solid $dark;
          color: black;
          display: block;
          font-size: 22px;
          margin-bottom: 17px;
          padding-bottom: 5px;
          text-decoration: none;
          position: relative;
          font-weight: bold;

          &:last-child {
            margin-bottom: 0;
          }

          @media (max-width: $md) {
            font-size: 16px;
          }

          &:hover {
            color: black;
          }

          &:after {
            content: "";
            position: absolute;
            right: 0;
            bottom: 13px;
            width: 24px;
            height: 24px;
            background: url(../../../assets/breadcrumb/arrow.svg) no-repeat;
            background-size: 24px 24px;

            @media (max-width: $sm) {
              bottom: 1px;
            }

            @media (max-width: $md) {
              width: 15px;
              background-size: 15px;
            }
          }
        }
      }
    }



    .node__content > h1,
    .node__content > h2 {
      @include container;
      & {
        max-width: $narrow;
      }
    }

    .date-language-wrapper {
      @include container;

      & {
        max-width: $narrow;
        font-size: $fontSizeMeta;
        margin-top: 0;
        display: flex;
      }

      @media (max-width: $md) {
        @include smallfont;
      }

      .language {
        margin-left: 12px;

        span {
          margin: 0 5px;
        }

        .is-active {
          text-decoration: none;
        }
      }
    }

    .fields-container,
    .author-wrapper {
      @include container;
      & {
        max-width: $narrow;
        padding-top: $verticalGutter;
      }
    }

    .fields-wrapper {
      font-size: $fontSizeMeta;
      background: $light;
      padding: math.div($gutter, 2) math.div($gutter, 2) math.div($gutter, 4) math.div($gutter, 2);
      margin-bottom: $verticalGutter;
      border-radius: $radius;
      margin: 0 0 $verticalGutter * 2;

      @media (max-width: $md) {
        @include smallfont;
      }

      > .field {
        display: flex;
        margin-bottom: 10px;

        .field-label {
          margin-right: 10px;
        }
      }
    }

    .themes > .field {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      .field--name-field-n-themes {
        display: flex;
      }

      .field-label {
        margin-right: 10px;
      }

      a {
        font-size: 18px;
        @media (max-width: $md) {
          font-size: 14px;
        }
      }
    }
  }

  &.node--view-mode-card {
    .card-wrapper {
      border: none;
      background: transparent;

      .placeholder {
        display: none;
      }

      .card-image-background {
        border-radius: $radius;
      }

      .field--name-field-n-teaser-description {
        padding: 10px 10px;
        display: none;
      }

      .card-title {
        font-weight: 500;
        padding: 10px 10px 0;
      }
    }

    &.without-image {
      .placeholder {
        display: block;
        height: 250px;
        padding-bottom: 0;
        border-radius: $radius;
      }

    }

    .category-wrapper {
      position: relative;
      margin-left: 12px;
      margin-top: -27.5px;
      z-index: 2;
    }

    .category {
      display: inline;
      padding: 3px 10px;
      background: $primary;
      color: $onPrimary;
    }

    .date {
      font-weight: 300;
      margin-left: 10px;
      margin-top: 4px;
    }
  }

  &.node--view-mode-teaser {
    .teaser-wrapper {
      display: flex;
      align-items: flex-start;
      border-radius: $radius;
      text-align: left;
      overflow: hidden;
      margin-bottom: $verticalGutter;

      @media (max-width: $md) {
        height: auto !important;
        flex-direction: column;
      }

      .teaser-image {
        flex: 0 0 330px;
        text-align: center;
        overflow: hidden;
        border-radius: $radius;
        border: 3px solid $secondary;
        @media (max-width: $md) {
          flex: 1;
          width: 100%;
        }

        a {
          &:hover {
            img {
              transform: scale(1.05);
            }
          }
        }

        img {
          width: 100%;
          height: auto;
          transition: all .3s ease;
        }
      }
      .teaser-inner {
        padding: 0 math.div($gutter, 2);
        @media (max-width: $md) {
          padding: math.div($gutter, 2) 0;
        }

        .teaser-footer {
          display: flex;
          align-items: center;
          margin-top: 5px;
          margin-bottom: 20px;

          .meta {
            display: flex;
            font-size: 14px;
            align-items: center;
            line-height: 1.3;
            text-align: left;
            text-transform: uppercase;

            .date {
              font-weight: bold;
              line-height: 1.3;
              margin-left: math.div($gutter, 2);
            }

            .category {
                display: flex;
                align-items: center;
            }
          }
        }
      }
      .teaser-title {
        margin: 0 0 20px;
        font-size: $h3FontSize;
        font-weight: 700;

        a {
          text-decoration: none;

          &:hover {
            color: $primary;
          }
        }
      }

      .teaser-body {
        margin-bottom: 2rem;
        h1, h2, h3, h4 {
          font-size: $fontSize;
          font-weight: bold;
          margin: 0 0 5px 0;
          line-height: $lineHeight;
          @media screen and (max-width: $sm) {
            @include smallfont;
            font-weight: bold;
          }
        }

        p {
          margin-top: 0;
        }
      }

      .field--name-field-m-caption,
      .field--name-field-m-copyright {
        display: none;
      }
    }
    /*default*/
    .teaser-wrapper {
      .teaser-inner {
        color: $onBackground;
        h1,h2,h3,h4,h5,h6,a {color: $onBackground;}
        blockquote {border-color: $onBackground}
        .teaser-link a { @include btn-link; }
      }
    }
  }

  .placeholder {
    background: url(../../../assets/placeholder.svg) no-repeat right bottom $secondary;
    background-size: contain;
    padding-bottom: 56.25%;
  }
}
