.tags, .themes {
    flex: 1;

    > .field__items {
      display: flex;
      flex-wrap: wrap;
    }

    .field--name-field-n-themes {
      flex-wrap: wrap;
    }

    .field__item > a {
      background: $secondary;
      padding: 6px 8px;
      margin-right: 12px;
      color: #fff !important;
      font-size: 14px;
      text-decoration: none;
      border-radius: 6px;

      @media (max-width: $sm) {
        line-height: 2.4;
      }

      &:hover {
        opacity: 0.8;
      }

      &.theme_color_1 { background-color: var(--theme_color_1); }
      &.theme_color_2 { background-color: var(--theme_color_2); }
      &.theme_color_3 { background-color: var(--theme_color_3); }
      &.theme_color_4 { background-color: var(--theme_color_4); }
      &.theme_color_5 { background-color: var(--theme_color_5); }
      &.theme_color_6 { background-color: var(--theme_color_6); }
      &.theme_color_7 { background-color: var(--theme_color_7); }
      &.theme_color_8 { background-color: var(--theme_color_8); }
    }
}

.viewsreference--view-title {
  margin-bottom: 2rem;
}