@use "sass:math";

.node--type-ino-page {
    &.node--view-mode-full {
        //margin-bottom: $verticalGutter;

        h2 {
            margin-bottom: $verticalGutter;
        }
    }

    &.node--view-mode-card-menu {
        .card-wrapper {
            border-radius: $radius;
            //border: 3px solid $secondary;
            text-align: left;
            overflow: hidden;
            background: transparent;
            @media (max-width: $md) {
              height: auto !important;
            }
            .card-image {
              text-align: center;
              border-radius: $radius;
              overflow: hidden;

              a {
                &:hover {
                  img {
                    transform: scale(1.05);
                  }
                }
              }

              img {
                width: 100%;
                height: auto;
                transition: all .3s ease;
              }
            }
            .card-inner {
              //padding: 24px;
              overflow: hidden;

              .field--name-field-n-teaser-description {
                color: $dark;
              }

              .card-footer {
                display: flex;
                align-items: center;
                margin-top: 5px;

                .meta {
                  font-size: 14px;
                  line-height: 1.3;
                  text-align: right;
                  text-transform: uppercase;

                  .date {
                    font-weight: bold;
                  }
                }
              }
            }
            .card-title {
              margin: 24px 0 0;
              font-size: $h3FontSize;
              font-weight: 500;

              a {
                text-decoration: none;

                &:hover {
                  color: $primary;
                }
              }
            }
          }

          /*default*/
        .card-wrapper {
          background: transparent;
          .card-inner {
              color: $onBackground;
              h1,h2,h3,h4,h5,h6,a {color: $onBackground;}
              blockquote {border-color: $onBackground}
              .card-link a { @include btn-link; }
          }
        }
    }

    &.node--view-mode-card {
      .node__content {
        height: 100%;
      }

      .card-wrapper {
        height: 100%;
        border: 3px solid $primary;
        background: $light;

        .card-footer {
            padding: 0;
        }

        .card-title {
            padding: 24px 24px 0 24px;
            margin-bottom: 20px;
        }

        .card-body {
          padding: 0 24px;
        }
      }
    }

    &.node--view-mode-teaser {
      .teaser-wrapper {
        display: flex;
        align-items: flex-start;
        border-radius: $radius;
        text-align: left;
        overflow: hidden;
      margin-bottom: $verticalGutter;

        @media (max-width: $md) {
          height: auto !important;
          flex-direction: column;
        }

        .teaser-image {
          flex: 0 0 330px;
          text-align: center;
          overflow: hidden;
          border-radius: $radius;
          border: 3px solid $secondary;
          @media (max-width: $md) {
              flex: 1;
              width: 100%;
            }

          a {
            &:hover {
              img {
                transform: scale(1.05);
              }
            }
          }

          img {
            width: 100%;
            height: auto;
            transition: all .3s ease;
          }
        }
        .teaser-inner {
          padding: 0 math.div($gutter, 2);
          @media (max-width: $md) {
              padding: math.div($gutter, 2) 0;
            }

          .teaser-footer {
            display: flex;
            align-items: center;
            margin-top: 5px;
            margin-bottom: 20px;

            .meta {
              font-size: 14px;
              line-height: 1.3;
              text-align: right;
              text-transform: uppercase;

              .date {
                font-weight: bold;
              }
            }
          }
        }
        .teaser-title {
          margin: 0 0 20px;
          font-size: $h3FontSize;
          font-weight: 700;

          a {
            text-decoration: none;

            &:hover {
              color: $primary;
            }
          }
        }

        .teaser-body {
          margin-bottom: 2rem;
          h1, h2, h3, h4 {
            font-size: $fontSize;
            font-weight: bold;
            margin: 0;
            line-height: $lineHeight;
            @media screen and (max-width: $sm) {
                @include smallfont;
                font-weight: bold;
            }
          }

          p {
            margin-top: 0;
          }
        }

        .field--name-field-m-caption,
        .field--name-field-m-copyright {
          display: none;
        }
      }
      /*default*/
      .teaser-wrapper {
        .teaser-inner {
          color: $onBackground;
          h1,h2,h3,h4,h5,h6,a {color: $onBackground;}
          blockquote {border-color: $onBackground}
          .teaser-link a { @include btn-link; }
        }
      }
    }

    .placeholder {
      background: url(../../../assets/placeholder.svg) no-repeat center center $secondary;
      background-size: contain;
      padding-bottom: 56.25%;
    }
}
