{#
/**
 * @file
 * Cappuccino theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template normally located in the
 * core/modules/system directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

{% block secondary_menu %}
  {% if page.secondary_menu %}
    <div class="container">
      {{ page.secondary_menu }}
    </div>
  {% endif %}
{% endblock %}

{% block header %}
  <header id="header" role="banner" aria-label="{{ 'Site header'|t }}">
      <div class="wrapper">
        {{ page.header }}
        {{ page.primary_menu }}
      </div>
  </header>
{% endblock %}

{% block top %}
  {% if page.top %}
    <div class="container">
      {{ page.top }}
    </div>
  {% endif %}
{% endblock %}

{% block breadcrumb %}
  {% if page.breadcrumb %}
    <div class="container">
      {{ page.breadcrumb }}
    </div>
  {% endif %}
{% endblock %}

{% block highlighted %}
  {% if page.highlighted %}
    <div class="container">
      {{ page.highlighted }}
    </div>
  {% endif %}
{% endblock %}

{% block main %}
  <main role="main">
    <a id="main-content" tabindex="-1"></a>
    {{ page.content }}
  </main>
{% endblock %}

{% block bottom %}
  {% if page.bottom %}
    <div class="container">
      {{ page.bottom }}
    </div>
  {% endif %}
{% endblock %}

{% block footer %}
  {% if page.footer %}
    <footer id="footer">
      {{ page.footer }}
    </footer>
  {% endif %}
{% endblock %}
