.lpb-component-list__group--content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(162px, 1fr));
  grid-gap: 30px;
  justify-content: center;
  padding-bottom: 30px;
}

@media screen and (min-width: 800px) {
  .lpb-component-list__group--content {
    grid-template-columns: repeat(4, 162px);
  }
}

.lpb-component-list__search {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.lpb-dialog .ui-widget-content a {
  color: black;
  text-decoration: none;
}

.lpb-component-list .lpb-component-list__group > div > div {
  width: 162px;
}

.lpb-component-list__item {
  position: relative;
  height: 162px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
}

.lpb-component-list__item a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  box-sizing: border-box;
  height: 100%;
  transform-origin: 50% 50%;
  border-radius: 10px;
}

.lpb-component-list__item:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 6px rgba(0,0,0,.3);
}

/*accordion*/
.lpb-component-list__group--content .lpb-component-list__item.type-ino_pt_acc {
  background-image: url('../assets/accordion-item.svg');
}
/*block*/
.lpb-component-list__group--content .lpb-component-list__item.type-ino_pt_block {
  background-image: url('../assets/block.svg');
}
/*embed*/
.lpb-component-list__group--content .lpb-component-list__item.type-ino_pt_embed {
  background-image: url('../assets/embed.svg');
}
/*disclaimer*/
.lpb-component-list__group--content .lpb-component-list__item.type-ino_pt_disclaimer {
  background-image: url('../assets/disclaimer.svg');
}
/*media collection*/
.lpb-component-list__group--content .lpb-component-list__item.type-ino_pt_gallery {
  background-image: url('../assets/media-collection.svg');
}
/*content collection*/
.lpb-component-list__group--content .lpb-component-list__item.type-ino_pt_list_auto {
  background-image: url('../assets/content-collection.svg');
}
.lpb-component-list__group--content .lpb-component-list__item.type-ino_pt_list_pick {
  background-image: url('../assets/content-collection.svg');
}
/*media*/
.lpb-component-list__group--content .lpb-component-list__item.type-ino_pt_media {
  background-image: url('../assets/media.svg');
}
/*modal*/
.lpb-component-list__group--content .lpb-component-list__item.type-ino_pt_modal {
  background-image: url('../assets/modal.svg');
}
/*webform*/
.lpb-component-list__group--content .lpb-component-list__item.type-ino_pt_webform {
  background-image: url('../assets/webform.svg');
}
/*rich text*/
.lpb-component-list__group--content .lpb-component-list__item.type-ino_pt_wysiwyg {
  background-image: url('../assets/rich-text.svg');
}
/*document*/
.lpb-component-list__group--content .lpb-component-list__item.type-ino_pt_document {
  background-image: url('../assets/document.svg');
}
/*card*/
.lpb-component-list__group--content .lpb-component-list__item.type-ino_pt_card {
  background-image: url('../assets/card.svg');
}
/*action_card*/
.lpb-component-list__group--content .lpb-component-list__item.type-ino_pt_action_card {
  background-image: url('../assets/card.svg');
}
/*countdown timer*/
.lpb-component-list__group--content .lpb-component-list__item.type-ino_pt_cdtimer {
  background-image: url('../assets/countdown.svg');
}
/*key metrics*/
.lpb-component-list__group--content .lpb-component-list__item.type-ino_pt_keym {
  background-image: url('../assets/key-metrics.svg');
}
.lpb-component-list__group--content .lpb-component-list__item.type-ino_pt_metrics_collection {
  background-image: url('../assets/key-collection.svg');
}
/*tab*/
.lpb-component-list__group--content .lpb-component-list__item.type-ino_pt_tab {
  background-image: url('../assets/tab-item.svg');
}
/*visibility group*/
.lpb-component-list__group--content .lpb-component-list__item.type-ino_pt_vgroup {
  background-image: url('../assets/visibility-group.svg');
}
/*title pt*/
.lpb-component-list__group--content .lpb-component-list__item.type-ino_pt_title {
  background-image: url('../assets/title.svg');
}
/*quote*/
.lpb-component-list__group--content .lpb-component-list__item.type-ino_pt_quote {
  background-image: url('../assets/quote.svg');
}
/*mailchimp*/
.lpb-component-list__group--content .lpb-component-list__item.type-ino_pt_mailchimp {
  background-image: url('../assets/mailchimp.svg');
}
