{{ attach_library('ino_pt_modal/ino_modal') }}

{%
    set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    ]
%}
{%
    set alignment = [
    'align-' ~ paragraph.field_ph_modal_alignment.value,
]
%}
{% block paragraph %}
    <div{{ attributes.addClass(classes) }} data-dialogId="{{ 'dialog-' ~ paragraph.id() }}">
        {% block content %}
            <div class="">
                <div class="{{ paragraph.field_ph_modal_alignment.value }} modal-link-container">
                    <button class="modal-link btn-primary">{{ content.field_ph_modal_link_title }}</button>
                </div>
                <div class="dialog-content" id="{{ 'dialog-' ~ paragraph.id() }}">
                    {{ content.field_ph_modal_content }}
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock paragraph %}
