{#
/**
 * @file
 * Theme override to display a node.
 *
 * Available variables:
 * - node: The node entity with limited access to object properties and methods.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - node.getCreatedTime() will return the node creation timestamp.
 *   - node.hasField('field_example') returns TRUE if the node bundle includes
 *     field_example. (This does not indicate the presence of a value in this
 *     field.)
 *   - node.isPublished() will return whether the node is published or not.
 *   Calling other methods, such as node.delete(), will result in an exception.
 *   See \Drupal\node\Entity\Node for a full list of public properties and
 *   methods for the node object.
 * - label: (optional) The title of the node.
 * - content: All node items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - author_picture: The node author user entity, rendered using the "compact"
 *   view mode.
 * - metadata: Metadata for this node.
 * - date: (optional) Themed creation date field.
 * - author_name: (optional) Themed author name field.
 * - url: Direct URL of the current node.
 * - display_submitted: Whether submission information should be displayed.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - node: The current template type (also known as a "theming hook").
 *   - node--type-[type]: The current node type. For example, if the node is an
 *     "Article" it would result in "node--type-article". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - node--view-mode-[view_mode]: The View Mode of the node; for example, a
 *     teaser would result in: "node--view-mode-teaser", and
 *     full: "node--view-mode-full".
 *   The following are controlled through the node publishing options.
 *   - node--promoted: Appears on nodes promoted to the front page.
 *   - node--sticky: Appears on nodes ordered above other non-sticky nodes in
 *     teaser listings.
 *   - node--unpublished: Appears on unpublished nodes visible only to site
 *     admins.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main
 *   content tag that appears in the template.
 * - author_attributes: Same as attributes, except applied to the author of
 *   the node tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - view_mode: View mode; for example, "teaser" or "full".
 * - teaser: Flag for the teaser state. Will be true if view_mode is 'teaser'.
 * - page: Flag for the full page state. Will be true if view_mode is 'full'.
 * - readmore: Flag for more state. Will be true if the teaser content of the
 *   node cannot hold the main body content.
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_node()
 *
 */
#}
{% import _self as self %}
{% import "@ino_basetheme/nodes/components/node--field--base.html.twig" as templates %}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
<article{{ attributes.addClass(classes) }}>
  <div{{ content_attributes.addClass('node__content') }}>
    <span class="mobile-title">
      {{ title_prefix }}
        <h1>{{ label }}</h1>
      {{ title_suffix }}
    </span>
    <div class="row">
      <div class="col-12 col-lg-6">
        <span class="desktop-title">
        {{ title_prefix }}
          <h1>{{ label }}</h1>
        {{ title_suffix }}
        </span>

        <div class="event-meta">
          {{ content.field_event_date }}
          {{ content.field_event_status }}
          {% if content.field_event_register.0 is not empty %}
            <a class="register" href="{{ content.field_event_register.0['#url'] }}">{{ 'Register'|t }}</a>
          {% endif %}
        </div>

         <div class="event-extra-info">
          {% macro time_output(node, content) %}
            {% if node.field_event_all_day.value %}
              {% set separator = '-' %}
              <div class="time-part">{{ content.field_event_date }}</div>
              <div class="time-rest"><span class="main-separator separator">{{separator}}</span>{{ 'All day'|t }}</div>
            {% else %}
              <div class="time-part">
                {{ content.field_event_time }}
              </div>
              <div class="time-rest">
                {% if content.field_event_timezone is not empty %}
                  {% set timezone_prefix = 'GMT' %}
                  {% set separator = '|' %}
                  <span class="main-separator separator">{{separator}}</span>{{ timezone_prefix }}{{ content.field_event_timezone }}
                {% endif %}
                {% if node.field_event_each_day.value %}
                  <span class="separator"></span>{{ 'Each day'|t }}
                {% endif %}
              </div>
            {% endif %}
          {% endmacro %}
          {% set timeValue = self.time_output(node, content) %}

          {{ templates.field_template(content, 'Time', 'field_event_date', node.field_event_all_day.value or (content.field_event_time.0 is not empty and content.field_event_time.0['#markup'] != " - "), timeValue) }}

          {% macro location_output(node, content) %}
            {% set location = content.field_event_location.0|render|striptags|trim %}
            {% if node.field_event_online.value is empty or node.field_event_online.value == '0'  %}
              <a target="_blank" href="https://maps.google.com/?q={{ location|url_encode }}">{{ location }}</a>
            {% else %}
              {{ location }}
            {% endif %}
          {% endmacro %}
          {% set locationValue = self.location_output(node, content) %}

          {{ templates.field_template(content, 'Location', 'field_event_location', content.field_event_location.0 is not empty, locationValue) }}

          {% set language_names = [] %}
          {% for item in content.field_n_languages['#items'] %}
            {% set language_names = language_names|merge([item.entity.name.value]) %}
          {% endfor %}
          {% set languages_output = language_names|join(', ') %}

        </div>

        {{ content.field_event_description }}

        {{ content.field_event_document }}

      </div>
      <div class="col-12 col-lg-6">
        {{ content.field_event_hero_image }}



        {% if content.field_event_contacts['#items'] is not empty %}
          <div class="contact-title">{{ "Contact" | t }}</div>
          <div class="contact">
            <div class="nodes">
              {{ content.field_event_contacts.0 }}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</article>

{% if content.field_event_related['#items'] is not empty %}
  <div class="related-title">{{ "Related events" | t }}</div>
  <div class="related">
    <div class="nodes">
      {{ content.field_event_related }}
    </div>
  </div>
{% endif %}

{% embed '@ino_basetheme/nodes/components/node--similar-content.html.twig' %}
{% endembed %}
