{#
/**
 * @file
 * Cappuccino theme implementation to display a basic keym layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 * - content.original: Original fields.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'layout',
  'layout--keym',
  'layout--ino-pt-keym-basic',
]
%}

{% if content %}
  <div{{ attributes.addClass(classes) }}>
    {{ content.original.contextual_links }}
    {% if content.top %}
      <div class="layout__region layout__region-top">
        {{ content.top }}
      </div>
    {% endif %}

    {% if content.item %}
      <div class="layout__region layout__region-item">
        {{ content.item.icon }}
        {{ content.item.amount }}
        {{ content.item.short_desc }}
      </div>
    {% endif %}
  </div>
{% endif %}