.js-media-library-widget-toggle-weight {
  display: none;
}

.media-library-add-form {
  margin-bottom: 1rem;
}

.media-library-view.view > * {
  margin-bottom: 0;
}

.media-library-view .form--inline > * {
  margin-bottom: 0;
}

.media-library-view .form--inline * {
  margin-top: .25rem;
  margin-right: .25rem;
}

.media-library-view .form--inline [id^='edit-actions'] {
  display: flex;
  align-items: end;
}

.media-library-view .form--inline  [id^='edit-actions'] button,
.media-library-view .form--inline  [id^='edit-actions'] input {
  margin: 0;
}

.media-library-views-form .views-table {
  width: 100%;
}

[dir="ltr"] ul.media-library-add-form__added-media {
  margin-left: 0;
}

.media-library-item__attributes {
  width: 100%;
}

.media-library-selection *:before,
.media-library-selection *:after,
.media-library-selection *,
.media-library-views-form__rows *:before,
.media-library-views-form__rows *:after,
.media-library-views-form__rows * {
  box-sizing: content-box;
}

.media-library-item__preview {
  display: flex;
  justify-content: center;
  background-color: #ebebeb;
}

.ui-dialog-content .media-library-wrapper {
  margin: 0;
}

.ui-dialog-content .media-library-content {
  padding: 0;
  border-left: 0;
}

.media-library-add-form__added-media:focus,
.media-library-item--grid:focus .media-library-item__preview-wrapper {
  box-shadow: none!important;
}

.media-library-menu__link:focus::after,
.media-library-item--grid.is-focus:before {
  border: none!important;
}
