.paragraph + .paragraph--type--ino-pt-acc  {
  margin-top: $verticalGutter;
}

.paragraph--type--ino-pt-accitem {
  .copy-link {
    padding-left: 10px;
  }
  //HEADER
  .ui-accordion-header {
    font-family: $font;
    font-size: $h4FontSize;
    font-weight: 400;
    padding: 12px 40px 12px 24px;
    border: none;
    border-radius: $radius;
    transition: border-radius 0.3s ease;
    outline: none;
  }
  /*arrow icon*/
  .ui-accordion-header-icon {
    position: absolute;
    top: 0;
    right: 10px;
    width: 20px;
    height: 100%;
    margin-top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px auto;
    transform: rotate(90deg);
    transition: all 0.3s ease;
  }
  /*active state*/
  .ui-accordion-header.ui-state-active {
    border-radius: $radius $radius 0 0;
    .ui-accordion-header-icon {
      transform: rotate(180deg);
    }
  }
  //CONTENT
  .ui-accordion-content {
    padding: 24px 24px;
    border: none;
    border-top: none;
    background: $light;
    color: #111;
    font-family: $font;
  }
  /*default*/
  .ui-accordion-header {
    background: $secondary;
    color: $onSecondary;
    &:hover, &:focus {
      background: $secondary-variant;
    }
  }
  .ui-accordion-header-icon {
    background-image: url('../../../assets/accitem/arrow-fff.svg');
  }
  .ui-accordion-header.ui-state-active {
    background: $secondary;
    color: $onSecondary;
  }
}
