@mixin document($type) {
  /*default*/
  .file a:before {
    background-image: url('../../../assets/document/types/file#{$type}.svg');
  }
  /*txt*/
  /*odt*/
  /*fodt*/
  .file--mime-text-plain a:before,
  .file--mime-application-vnd-oasis-opendocument-text a:before {
    background-image: url('../../../assets/document/types/txt#{$type}.svg');
  }
  /*zip*/
  .file--mime-application-zip a:before {
    background-image: url('../../../assets/document/types/zip#{$type}.svg');
  }
  /*rtf*/
  .file--mime-application-rtf a:before {
    background-image: url('../../../assets/document/types/rtf#{$type}.svg');
  }
  /*doc*/
  /*docx*/
  .file--mime-application-msword a:before,
  .file--mime-application-vnd-openxmlformats-officedocument-wordprocessingml-document a:before {
    background-image: url('../../../assets/document/types/doc#{$type}.svg');
  }
  /*ppt*/
  /*pptx*/
  .file--mime-application-vnd-ms-powerpoint a:before,
  .file--mime-application-vnd-openxmlformats-officedocument-presentationml-presentation a:before {
    background-image: url('../../../assets/document/types/ppt#{$type}.svg');
  }
  /*xls*/
  /*xlsx*/
  .file--mime-application-vnd-ms-excel a:before,
  .file--mime-application-vnd-openxmlformats-officedocument-spreadsheetml-sheet a:before {
    background-image: url('../../../assets/document/types/xls#{$type}.svg');
  }
  /*pdf*/
  .file--application-pdf a:before {
    background-image: url('../../../assets/document/types/pdf#{$type}.svg');
  }
  /*odf*/
  .file--mime-application-vnd-oasis-opendocument-formula a:before {
    background-image: url('../../../assets/document/types/odf#{$type}.svg');
  }
  /*odg*/
  .file--mime-application-vnd-oasis-opendocument-graphics a:before {
    background-image: url('../../../assets/document/types/odg#{$type}.svg');
  }
  /*odp*/
  /*fodp*/
  .file--mime-application-vnd-oasis-opendocument-presentation a:before {
    background-image: url('../../../assets/document/types/odp#{$type}.svg');
  }
  /*ods*/
  /*fods*/
  .file--mime-application-vnd-oasis-opendocument-spreadsheet a:before {
    background-image: url('../../../assets/document/types/spreadsheet#{$type}.svg');
  }
}

@mixin document-field {
  .file {
    display: block;
    margin: 0;
    padding: 0;
    background: none;
  }

  a {
    position: relative;
    display: flex;
    padding: 12px 24px 12px 18px;
    border-radius: $radius;
    background: $primary;
    font-weight: 600;
    color: $onPrimary !important;
    text-decoration: none !important;
    @media (max-width: $md) {
      align-items: center;
    }
    &:hover, &:focus {
      text-decoration: underline !important;
    }
    @media (max-width: $md) {
      font-size: 2rem;
    }
    &:before {
      content: "";
      display: inline-block;
      width:25px;
      min-width: 25px;
      height: 25px;
      margin-right: 12px;
      margin-top: 5px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      @media (max-width: $md) {
        margin-top: 0;
      }
    }
    &:after {
      content: "";
      display: inline-block;
      width: 20px;
      min-width: 20px;
      height: 20px;
      background: url('../../../assets/document/download-fff.svg') no-repeat center;
      background-size: contain;
      margin-left: auto;
      margin-top: 5px;
    }
  }
  @include document('-fff');
}
