.topfilter {
  margin-bottom: $verticalGutter;

  @include container;

  .search-title-wrapper {
    display: flex;
    gap: 30px;
    align-items: end;

    h1 {
      border-right: 1px solid black;
      padding-right: 30px;
      margin-bottom: 0px;
      padding-bottom: 0.5rem;
    }

    a {
      text-decoration: none;
      font-size: 26px;
      font-weight: bold;
      line-height: 26px;
      border-bottom: 2px solid black;
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
    }

  }

  .filters {
    background: $bodyBackground;
    padding: 14px 0 34px;
    transition: all .3s ease;

    .form--inline .form-item {
      float: none;
    }

    .scrolled & {
      position: sticky;
      top: 79px;
      z-index: 9;
      padding: 14px 0;
      border-bottom: 1px solid $lightGray;

      @media (max-width: $sm) {
        position: relative;
        top: 0;
        padding: 14px 0 34px;
      }
    }

  }

  .main.cards {
    .view-content {
      @include list-grid(3,2);
    }
  }

  .main.table-view {
    table td, table th {
      border: none;
    }

    table td {
      padding: 0;
      border-bottom: 3px solid $light;
      height: inherit;

      a {
        display: block;
        height: 100%;
        text-decoration: none;
        padding: 24px 24px;

        @media screen and (max-width: $sm) {
          padding: 24px 0;
        }
      }
    }

    table th {
      @include smallfont;
      font-weight: bold;
      white-space: nowrap;
      background: $secondary;
      color: #fff;
      padding: 5px 24px;
    }

    .views-field-title {
      a {
        height: auto;
        padding-top: 0;

        &:first-child {
          text-decoration: none;
          font-size: $h3FontSize;
          font-weight: bold;
          line-height: 1.3;
          padding-top: 24px;
        }
      }
    }

    table tr {
      height: 1px;

      @media screen and (max-width: $sm) {
        height: auto;
      }

      &:hover {
        background: $lightGray;

        a {
          &:hover {
            color: $onBackground;
          }
        }

        .views-field-title {
          a {
            &:hover {
              color: $onBackground;
            }

            &:first-child {
              color: $primary;
            }
          }
        }
      }
    }

    td.views-field-field-language-code {
      white-space: nowrap;
    }

    p {
      margin: 5px 0;
    }

    h3, h4 {
      font-size: $fontSize;
      font-weight: bold;
      @media screen and (max-width: $sm) {
        @include smallfont;
        font-weight: bold;
      }
    }

    @media screen and (max-width: $sm) {
      table {
        border: 0;
      }

      table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      table tr {
        border-bottom: 3px solid $light;
        display: block;
        margin-bottom: 24px;
      }

      table td {
        display: block;
        text-align: left;
        border-bottom: 1px solid $light;
        padding: 12px 0;
      }

      table td::before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
      }

      table td:last-child {
        border-bottom: 0;
      }
    }
  }
}

.topfilter .filters {
  .view-filters {
    .form--inline {
      display: flex;
      align-items: center;

      @media (max-width: $lg) {
        display: flex;
        flex-wrap: wrap;
      }

      .form-item {
        flex: 1 0 100px;
        margin: 10px 24px 10px 0;
        @include smallfont;

        @media (max-width: $sm) {
          flex: 100%;
          max-width: 100%;
          margin: 5px 0;
        }

        input[type="text"] {
          max-width: 300px;
          border-color: #dedede;
          &:hover, &:focus {
            border-color: $secondary;
          }
        }

        select {
          max-width: 300px;
          border-color: #dedede;

          &:hover, &:focus {
            border-color: $secondary;
          }
        }

        .chosen-container-single .chosen-single {
          max-width: 300px;
          border-color: #dedede;
          &:hover, &:focus {
            border-color: $secondary;
          }
        }
      }

      .form-actions {
        margin: 0;
        @media (max-width: $lg) {
          margin-top: 8px;
        }

        .js-form-submit {
          margin-right: 0;
        }
      }

      .form-type-textfield {
        flex: 1.2 0 100px;
        @media (max-width: $sm) {
          flex: 100%;
          margin: 5px 0;
        }
      }
      .form-item-field-n-search-months {
        flex: 0.6 0 70px;
        @media (max-width: $sm) {
          flex: 100%;
          margin: 5px 0;
        }
      }
      .form-item-field-n-search-year {
        flex: 0.6 0 70px;
        @media (max-width: $sm) {
          flex: 100%;
          margin: 5px 0;
        }
      }
    }
  }
}
