@use "sass:math";

.ino-footer {
  background-color: $footerbg;
  color: white;

  .container {
    .footer-top {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      font-size: 16px;
      padding-top: math.div($verticalGutter, 2);
      padding-bottom: math.div($verticalGutter, 2);

      @media only screen and (max-width: $md) {
        flex-direction: column;
      }

      .footer-left {
        text-align: left;

        @media only screen and (max-width: $md) {
          margin-bottom: $verticalGutter;
        }
      }

      .footer-right {
        text-align: right;

        .menu {
          margin: 0;

          .menu-item {
            margin-right: 15px;

            &:last-child { margin: 0; }

            a {
              color: #fff;
              text-decoration: none;

              &:hover {
                color: $primary;
              }
            }
          }
        }
      }
    }

    .footer-bottom {
      position: relative;
      text-align: center;

      p {
        font-size: 22px;
        padding-top: math.div($verticalGutter, 2);
        padding-bottom: math.div($verticalGutter, 2);
      }
    }
  }
}

div#sliding-popup {
  background: $dark;
  padding-top: $verticalGutter;
  padding-bottom: $verticalGutter;

  .eu-cookie-compliance-default-button {
    @include btn-primary;
  }

  h2 {
    font-weight: bold;
    font-size: $fontSize;
  }

  p {
    @include smallfont;
  }

  a {
    color: #fff;
  }

  @media (max-width: $md) {
    padding-top: 0px;
    padding-bottom: 0px;

    #popup-buttons {
      margin-bottom: 0px;
      padding-top: 10px;
      padding-bottom: 5px;
    }

    .button {
      height: 25px;
      line-height: 25px;
      padding: 0px;
      margin-top: 0px;
    }
  }

}
