@use "sass:math";

.view-main-search .search-wrapper {
  .row {
    align-items: baseline;
  }
}

.search-wrapper {
    margin-bottom: $verticalGutter;

    @include container;

    h2 {
        font-size: $h1FontSize;
    }

    .main {
        .sort-links {
            margin-bottom: $verticalGutter;
            text-align: left;

            @include smallfont;

            @media (max-width: $md) {
                text-align: left;
            }

            a {
                text-decoration: none;
                margin-right: 16px;
                &:last-child {
                    margin-right: 0;
                }

                &::after {
                    content: "";
                    display: inline-block;
                    width: 10px;
                    height: 8px;
                    background: url(../../../assets/chevron-down-green.svg) no-repeat;
                    background-size: contain;
                    margin-left: 4px;
                    filter:brightness(-100%);
                }

                &:hover, &.is-active {
                    color: $primary;
                    cursor: pointer;
                    &::after { opacity: 0.3; }
                }
            }
        }
    }

    .sidebar {
        background: $light;
        padding: math.div($gutter, 2);

        .form--inline .form-item {
            float: none;
            margin-right: 0;
        }

        .chosen-container-single .chosen-single {
            background-color: #fff !important;
            border-color: #dedede;
            padding-top: 0.5rem;

            &:hover, &:focus {
                border-color: $secondary;
            }
        }

        .facets-views-plugin {
            h2 {
                font-size: $fontSize;
                color: $dark;
                margin-bottom: 0;
            }

            .block-facets {
                margin-bottom: math.div($verticalGutter, 2);

                &:last-child { margin-bottom: 0;}
            }

            .facets-widget-checkbox {
                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;

                    li {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;

                        .facets-widget- {
                            flex-basis: 100%;
                            margin-left: 10px;
                        }

                        input {
                            margin-right: 8px;
                        }

                        label {
                            margin: 0;
                            @include smallfont;
                            color: $dark;

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
    }
}

.form-item-sort-by, .form-item-sort-order {
    display: none;
}
