.jstree-closed > .jstree-icon::before {
    content: "+";
}

.jstree-open > .jstree-icon::before {
    content: "x";
}

.tb-dropdown-inner {
	max-width: 1278px;
	margin: auto;
	padding: 0 45px 28px;
	min-height: 200px;
	@media (max-width: $md) {
		min-height: auto;
	}
}

.level-1 > .tbm-submenu .menu-content {
	.node--view-mode-card {
        .card-wrapper {
            border-radius: 0px;
            border: inherit;
			.card-image {
				border-radius: 10px;
			}
			.card-inner {
				color: $onBackground;
				h1,h2,h3,h4,h5,h6,a {color: $onBackground;}
				blockquote {border-color: $onBackground}
			}
        }
    }
}

.main-submenu > .tbm-row > .tbm-column > .tbm-column-inner > .tbm-subnav {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;

	.tbm-link-container {
		height: auto;
	}
}

.tbm-link-container .btn-secondary {
	margin-top: 5px;
	margin-left: 10px;
}