.block-superfishaccount {
  @media (max-width: $md) {
    display: inline-block;
    vertical-align: top;
    margin-top: 20px;
    margin-right: 10px;
    width: auto;
    height: 40px;
    background-color: $primary;
    #superfish-account-toggle {
      display: block;
      width: 40px;
      height: 40px;
      background-color: $primary;
      background-image: url(../../../assets/user/user.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto 20px;
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}