@mixin container {
  width: 100%;
  max-width: $container;
  margin-left: auto;
  margin-right: auto;
  padding-left: $gutter;
  padding-right: $gutter;

  @media (max-width: $md) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container {
  @include container;
}

@mixin chevron {
  &::after {
    content: "";
    display: inline-block;
    margin-left: 5px;
    width: 18px;
    height: 18px;
    background: url(../../../assets/accitem/arrow.svg) no-repeat;
    background-size: contain; 
    transform: rotate(90deg);
  }

  &:hover, &:focus {
    &::after { opacity: 0.5; }
  }
}

@mixin smallfont {
  font-size: 17px;
  font-weight: normal;
  line-height: 1.3;
}

@mixin list-grid($col, $col-m) {
  display: grid;
  grid-template-columns: repeat($col, 1fr);
  gap: $gutter;
  margin-bottom: $verticalGutter;

  @media (max-width: $lg) {
      grid-template-columns: repeat($col-m, 1fr);
  }

  @media (max-width: $md) {
      grid-template-columns: 1fr;
  }
}
