.pt-align-right {
  float: none;
  text-align: right;
}
.pt-align-left {
  float: none;
  text-align: left;
}
.pt-align-center {
  text-align: center;
}

//MARGINS
$m: 2rem;

@for $i from 0 through 30 {
  .mt#{$i} {
    margin-top: $i * $m !important;
  }
}

@for $i from 0 through 30 {
  .mb#{$i} {
    margin-bottom: $i * $m !important;
  }
}

@for $i from 0 through 30 {
  .mr#{$i} {
    margin-right: $i * $m !important;
  }
}

@for $i from 0 through 30 {
  .ml#{$i} {
    margin-left: $i * $m !important;
  }
}

.taxonomy-term-tree, .taxonomy-term-tree ul {
  list-style: none;
  margin: 0px;
  padding: 0px;

  .expand {
    padding-left: 10px;
    cursor: pointer;
  }
}
