$bodybg: #fff;

$background: #FFF;
$background-variant: #F2F2F2;
$onBackground: #111;
$onBackground-variant: #111;

$primary: var(--primary);
$primary-variant: var(--primary);
$onPrimary: #FFF;
$onPrimary-variant: #FFF;

$secondary: var(--secondary);
$secondary-variant: var(--secondary);
$onSecondary: #FFF;
$onSecondary-variant: #FFF;

$light: var(--light);
$dark: var(--dark);
$onLight: #111;
$onDark: #FFF;
$highlight: #E2E4EC;
$lightGray: #f7f7f7;
$footerbg: #000000;
$headerbg: #F2EFF6;

$theme_color_1: var(--theme_color_1);
$theme_color_2: var(--theme_color_2);
$theme_color_3: var(--theme_color_3);
$theme_color_4: var(--theme_color_4);
$theme_color_5: var(--theme_color_5);
$theme_color_6: var(--theme_color_6);
$theme_color_7: var(--theme_color_7);
$theme_color_8: var(--theme_color_8);

$red: #E94646;

$link: $dark;
$link-variant: #000;

$info: $theme_color_1;
$onInfo: #FFF;

$success: $theme_color_2;
$onSuccess: #FFF;

$warning: $theme_color_3;
$onWarning: #FFF;

$danger: $theme_color_5;
$onDanger: #FFF;

$archive: #fff;
$onArchive: #787878;

$radius: 6px;
$boxRadius: 10px;
$border: #C1C1C1;

/*bridge*/
$borderGlobalColor: $background-variant;
$bodyBackground: $bodybg;
